/* Main Button Area css
============================================================================================ */
/* line 3, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.submit_btn {
  width: auto;
  display: inline-block;
  background: #fff;
  padding: 0px 50px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 50px;
  border-radius: 5px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #edeff2;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 19, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.submit_btn:hover {
  background: transparent;
}

/* line 24, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.btn_1 {
  display: inline-block;
  padding: 9px 42px;
  border-radius: 50px;
  background-color: #ecfdff;
  font-size: 15px;
  font-weight: 700;
  color: #333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 33, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.btn_1:hover {
  background-color: #ff3368;
  color: #fff;
}

/* line 38, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.btn_3 {
  display: inline-block;
  padding: 9px 42px;
  border-radius: 50px;
  background-color: black;
  border: 1px solid #ecfdff;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
  border: 1px solid #A1CD39;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 52, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.btn_3:hover {
  background-color: #A1CD39;
  color: #fff;
}

/* line 57, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.btn_2 {
  display: inline-block;
  width: 180px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 5px;
  background-color: #ff3368;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  background-size: 200% auto;
  text-transform: uppercase;
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
}

/* line 77, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.btn_2:hover {
  color: #fff !important;
  background-position: right center;
}

@media (max-width: 991px) {
  /* line 57, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
  .btn_2 {
    height: 50px;
    width: 140px;
    line-height: 50px;
  }
}

/* line 92, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.btn_4 {
  color: #ff3368;
  font-size: 15px;
  font-weight: 700;
  margin-top: 53px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 991px) {
  /* line 92, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
  .btn_4 {
    margin-top: 30px;
  }
}

/* line 105, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.btn_4 img {
  width: 20px;
  margin-left: 15px;
}

/*=================== custom button rule start ====================*/
/* line 113, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.button {
  display: inline-block;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 54px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #edeff2;
  text-transform: uppercase;
  background-color: #ff3368;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 767px) {
  /* line 113, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
  .button {
    font-size: 13px;
    padding: 9px 24px;
  }
}

/* line 132, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.button:hover {
  color: #fff;
}

/* line 137, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.button-link {
  letter-spacing: 0;
  color: #3b1d82;
  border: 0;
  padding: 0;
}

/* line 143, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.button-link:hover {
  background: transparent;
  color: #3b1d82;
}

/* line 149, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.button-header {
  color: #fff;
  border-color: #edeff2;
}

/* line 153, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.button-header:hover {
  background: #b8024c;
  color: #fff;
}

/* line 159, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.button-contactForm {
  color: #fff;
  border-color: #edeff2;
  padding: 12px 25px;
}

/* End Main Button Area css