
/* line 1807, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.radion_btn input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

/* line 1812, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.radion_btn {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* line 1817, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.radion_btn img {
  position: absolute;
  right: 40px;
  top: 0px;
}

/* line 1824, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.radion_btn label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 0px 25px 21px 25px;
  height: 14px;
  z-index: 9;
  cursor: pointer;
  
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #2a2a2a;
  font-size: 13px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}

/* line 1842, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.radion_btn .check {
  display: block;
  position: absolute;
  border: 1px solid #cdcdcd;
  border-radius: 100%;
  height: 14px;
  width: 14px;
  top: 5px;
  left: 0px;
  background: #fff;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}

/* line 1857, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.radion_btn .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 4px;
  width: 4px;
  top: 4px;
  left: 4px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

/* line 1871, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.radion_btn input[type="radio"]:checked ~ .check {
  border: 1px solid #ff3368;
  background: #ff3368;
}

/* line 1876, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.radion_btn input[type="radio"]:checked ~ .check::before {
  background: #fff;
}

/* line 1880, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.radion_btn input[type="radio"]:checked ~ label {
  color: #000;
}

/* line 1884, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.login_part .login_part_text, .login_part .login_part_form {
  padding: 80px 70px;
  height: 600px;
  display: table;
}

@media (max-width: 991px) {
  /* line 1884, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .login_part .login_part_text, .login_part .login_part_form {
    padding: 30px;
    height: 400px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 1884, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .login_part .login_part_text, .login_part .login_part_form {
    padding: 20px;
    height: 400px;
  }
}

/* line 1896, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.login_part .login_part_text .login_part_text_iner, .login_part .login_part_text .login_part_form_iner, .login_part .login_part_form .login_part_text_iner, .login_part .login_part_form .login_part_form_iner {
  display: table-cell;
  vertical-align: middle;
}

/* line 1901, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.login_part .login_part_text {
  background-image: -moz-linear-gradient(16deg, #ff005a 0%, #ff5d2d 64%, #ffba00 100%);
  background-image: -webkit-linear-gradient(16deg, #ff005a 0%, #ff5d2d 64%, #ffba00 100%);
  background-image: -ms-linear-gradient(16deg, #ff005a 0%, #ff5d2d 64%, #ffba00 100%);
  background-size: 200% auto;
}

/* line 1906, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.login_part .login_part_text h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  color: #fff;
  margin-bottom: 17px;
}

/* line 1913, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.login_part .login_part_text p {
  color: #fff;
  line-height: 25px;
}

/* line 1917, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.login_part .login_part_text .btn_3 {
  border: 1px solid #ffc2d2;
  background-color: transparent;
  font-size: 14px;
  margin-top: 28px;
}

/* line 1922, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.login_part .login_part_text .btn_3:hover {
  background-color: #fff;
  color: #ff3368;
}

@media (max-width: 991px) {
  /* line 1928, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .login_part .login_part_form {
    padding: 0;
  }
}

/* line 1932, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.login_part .login_part_form h3 {
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 80px;
}

@media (max-width: 991px) {
  /* line 1932, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .login_part .login_part_form h3 {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 1932, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .login_part .login_part_form h3 {
    margin-bottom: 20px;
  }
}

/* line 1944, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.login_part .login_part_form .form-control {
  border: 0px solid transparent;
  border-bottom: 1px solid #dddddd;
  border-radius: 0;
}

/* line 1948, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.login_part .login_part_form .form-control ::placeholder {
  color: #c3c3c3;
}

/* line 1954, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.login_part .creat_account {
  margin-top: 11px;
}

/* line 1956, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.login_part .creat_account label {
  color: #777777;
  font-size: 14px;
  margin-bottom: 0;
  margin-left: 10px;
}

/* line 1964, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.login_part .form-group .btn_3 {
  display: block;
  width: 100%;
  margin: 30px 0 17px;
}

/* line 1970, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.login_part .lost_pass {
  color: #777777;
  text-align: right;
  float: right;
  text-transform: capitalize;
}

/* line 1980, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.lSSlideOuter .lSPager.lSGallery img {
  display: block;
  height: auto;
  max-width: 100%;
  border: 1px solid #ddd;
  padding: 5px;
}

/* line 1988, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .card_area {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 20px 0;
}

/* line 1993, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .card_area .product_count input {
  border: 0px solid transparent;
  text-align: center;
}

/* line 1999, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .product_count {
  border: 1px solid #ddd;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 12px 15px;
}

/* line 2007, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .product_count .input-number {
  display: inline-block;
  width: 60px;
}

@media (max-width: 576px) {
  /* line 2007, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .s_product_text .product_count .input-number {
    width: 30px;
  }
}

/* line 2024, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .Wishlist {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 3162px;
  z-index: 365;
}

/* line 2032, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .like_us {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.3);
  width: 50px;
  height: 50px;
  line-height: 56px;
  color: #7f7f7f;
  text-align: center;
}

/* line 2042, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .btn_3 {
 /* padding: 13px 30px;*/
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
  border: 1px solid #A1CD39;
  color:white;
}

@media (max-width: 576px) {
  /* line 2042, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .s_product_text .btn_3 {
    padding: 13px 20px;
  }
}
