<div class=".col-md-8.col-md-offset-2">

    <mediator-element environment="Production" component="accountmenu" options="{&quot;view&quot;:&quot;SIDEBAR&quot;,&quot;active&quot;:&quot;ORDERS&quot;}" isvoltrancommonrequired="true">
        <div>
            <style data-styled="true" data-styled-version="5.1.0"></style>
        <script type="text/javascript">
            window.CAC_UI = window.CAC_UI || {};
            window.CAC_UI.ACCOUNTMENU = {
                'STATE': { "location": { "path": "/", "query": { "view": "SIDEBAR", "active": "ORDERS" }, "cookies": {}, "url": "/?view=SIDEBAR&active=ORDERS" } }
            }
        </script>
        </div>
    </mediator-element>



    <br><br>
    <div class="main__container">
        <div class="main__container__title"><h1>Siparişlerim</h1></div><div class="main__container__head"><nav class="nav"><a aria-current="page" class="e2e-nav-allOrdersButton nav__item nav__item--active active" href="">Tümü</a><a class="e2e-nav-allOrdersButton nav__item" href="">İptallerim</a><a href="" class="e2e-nav-returnOrdersButton nav__item">İadelerim</a></nav></div>





        <div class="main__container__tool">
            <form class="tool__search" action="#"><div class="tool__search__searchicon"><svg class="tool__search__searchicon__icon"><path fill-rule="evenodd" d="M3.19 12.37a6.695 6.695 0 0 0 4.903 1.603c1.517-.119 2.925-.755 4.053-1.813l3.77 3.162a.76.76 0 0 0 1.215-.353.762.762 0 0 0-.236-.815l-3.76-3.155c.391-.572.678-1.13.862-1.71a6.749 6.749 0 0 0-2.044-7.171C9.133-.301 4.873.03 2.454 2.856a6.723 6.723 0 0 0-1.303 2.346 6.742 6.742 0 0 0 2.04 7.167zm-.588-6.708a5.215 5.215 0 0 1 8.36-2.388 5.227 5.227 0 0 1 .574 7.37l-.006.004a5.176 5.176 0 0 1-3.554 1.806 5.178 5.178 0 0 1-3.795-1.24A5.219 5.219 0 0 1 2.6 5.662z" clip-rule="evenodd"></path></svg></div><input type="search" class="tool__search__input" placeholder="Siparişinde ara.." maxlength="32" value=""><a href="#" class="tool__search__clearicon"><span><svg viewBox="0 0 10 10" fill="none" class="tool__search__clearicon__icon"><path d="M4.50002 3.59908L7.91267 0.186428C8.16124 -0.0621428 8.565 -0.0621428 8.81357 0.186428L8.72909 0.270906L8.81357 0.186428C9.06214 0.435 9.06214 0.838756 8.81357 1.08733L5.4009 4.5L8.81357 7.91267C9.06214 8.16124 9.06214 8.565 8.81326 8.81388C8.69163 8.93462 8.53035 9 8.36312 9C8.19474 9 8.03257 8.93436 7.91267 8.81357L4.5 5.4009L1.08733 8.81357C0.966491 8.93441 0.804442 9 0.636879 9C0.469316 9 0.307267 8.93441 0.18643 8.81357C-0.0621417 8.565 -0.0621417 8.16124 0.186421 7.91268L3.59839 4.49999L0.187172 1.08733C-0.0613993 0.838756 -0.0613993 0.435 0.187327 0.186274C0.436605 -0.0620912 0.83938 -0.0620912 1.08883 0.186446L4.50002 3.59908Z" transform="translate(0.5 0.5)" fill="#000000"></path></svg></span></a></form>


            <div class="tool__reset__search"><a href="#">Vazgeç</a></div>


            <div class="tool__filter">
                <span>Tarihe Göre Listele</span>

                <div class="form-group">

                    <input type="date" id="start" name="trip-start"
                           value="2020-08-25"
                           min="2019-01-01" max="2029-12-31">
                </div>
            </div>
        </div>



        <section class="breadcrumb breadcrumb_bg">
            <div class="imgs">
                <img src="img/categories/Banyo/Banyo_dolapları/85635.5336d260bbc61.jpeg" alt="Örnek Resim" />

            </div>

            <h3>ÜRÜN BİLGİLERİ</h3>
            <div class="s_product_text">
                <tbody>
                    <tr>
                        <td align="left" class="esd-block-text">
                            <p style="color: #333333; font-size: 16px;"><em><strong>Ürün Adı:</strong>Masa</em></p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" class="esd-block-text">
                            <p style="color: #333333;"><em><strong>Ürünün Alındığı Tarih:</strong>15.04.2020</em></p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" class="esd-block-text">
                            <p style="color: #333333;"><em><strong>Ürünün Alınma Nedeni:</strong>hztghdlhgjksgh</em><br><br></p>
                            <div class="onoffswitch-container">
                                <span class="onoffswitch-title">Siparişiniz alındı</span>
                                <span class="onoffswitch">
                                    <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked="checked" />
                                    <label class="onoffswitch-label" for="inline">
                                        <span class="onoffswitch-inner" data-swchoff-text="OFF" data-swchon-text="ON"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </span>
                            </div>
                        </td>

                    </tr>

                </tbody>
            </div>
        </section>



        <section class="breadcrumb breadcrumb_bg">
            <div class="imgs">
                <img src="img/categories/Banyo/Banyo_dolapları/1010109.58edeb1f7577b.jpg" alt="Örnek Resim" />
            </div>
            <h3>ÜRÜN BİLGİLERİ</h3>
            <div class="s_product_text">
                <tbody>
                    <tr>
                        <td align="left" class="esd-block-text">
                            <p style="color: #333333; font-size: 16px;"><em><strong>Ürün Adı:</strong>Masa</em></p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" class="esd-block-text">
                            <p style="color: #333333;"><em><strong>Ürünün Alındığı Tarih:</strong>15.04.2020</em></p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" class="esd-block-text">
                            <p style="color: #333333;"><em><strong>Ürünün Alınma Nedeni:</strong>hztghdlhgjksgh</em><br><br></p>

                            <div class="onoffswitch-container">
                                <span class="onoffswitch-title">Siparişiniz alındı</span>
                                <span class="onoffswitch">
                                    <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked="checked" />
                                    <label class="onoffswitch-label" for="inline">
                                        <span class="onoffswitch-inner" data-swchoff-text="OFF" data-swchon-text="disabled"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </span>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </div>
        </section>
        <a href="#" class="myButton">Ana Sayfaya Git</a>
        <div class="cupon_text float-right">
            <a href="#" class="myButton">Tekrar Satın Al</a>
        </div>

    </div>



</div>