<section class="login_part padding_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12 col-sm-12">

            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>Kayıt Ol</h3>
                        <h5>Alanların üst kısımlarında küçük yazı ile neden bu bilgileri aldığımız yazacak</h5>
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" id="password" name="password" value=""
                                       placeholder="Firma ismi">
                            </div>
                        </form>

                        <h5>Alanların üst kısımlarında küçük yazı ile neden bu bilgileri aldığımız yazacak</h5>
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="name" name="name" value=""
                                       placeholder="Adınız">
                            </div>
                        </form>
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="SOYAD" name="SOYAD" value=""
                                       placeholder="Soyadınız">
                            </div>
                        </form>
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-12 form-group p_star">
                                <input type="email" class="form-control" id="email" name="email" value=""
                                       placeholder="e-posta adresiniz">
                            </div>
                        </form>
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-12 form-group p_star">
                                <input type="email" class="form-control" id="email" name="email" value=""
                                       placeholder="e-posta tekrar">
                            </div>
                        </form>

                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" id="password" name="password" value=""
                                       placeholder="Password">
                            </div>
                        </form>
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" id="password" name="password" value=""
                                       placeholder="Re-Password">
                            </div>
                        </form>
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-12 form-group">
                                <div class="creat_account d-flex align-items-center">
                                    <input type="checkbox" id="f-option" name="selector">
                                    <label for="f-option">Remember me</label>
                                </div>
                                <div class="creat_account d-flex align-items-center">
                                    <input type="checkbox" id="f-option" name="selector">
                                    <label for="f-option"><a href="http://www.sanalkurs.net">Kullanıcı sözleşmesini </a> ve <a href="http://www.sanalkurs.net"> Gizlilik/Kişisel Verilerin İşlenmesi ve paylaşılmasına ilişkin Rıza beyanını </a>okudum ve kabul ediyorum. </label>
                                </div>
                                <div class="creat_account d-flex align-items-center">
                                    <input type="checkbox" id="f-option" name="selector">
                                    <label for="f-option"><a href="http://www.sanalkurs.net">Kişisel Verilerin Korunması Hakkında Aydınlatma Yazısını </a>okudum ve kabul ediyorum.  </label>
                                </div>
                            </div>
                        </form>
                        <button type="submit" value="submit" class="btn_3"/>
                            KAYIT OL

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>