
/* ----------------
  Banner section
---------------------*/

.banner {
	padding: 50px 34px 47px;
	position: relative;
	margin-bottom: 70px;
}

.banner .tag-new {
	position: absolute;
	right: 26px;
	top: 27px;
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	background: #50e550;
	line-height: 1;
	text-transform: uppercase;
	padding: 7px 16px 1px;
	border-radius: 80px;
}

.banner span {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	margin-bottom: 5px;
	display: block;
}

.banner h2 {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 10px;
	color: #282828;
}
