/**************** banner part css start ****************/
/* line 2, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
.banner_part {
  position: relative;
  background-color: #ecfdff;
  overflow: hidden;
}

/* line 7, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
.banner_part .single_banner_slider .banner_text {
  display: table;
  width: 100%;
  height: 820px;
}

/* line 11, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
.banner_part .single_banner_slider .banner_text .banner_text_iner {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 991px) {
  /* line 7, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
  .banner_part .single_banner_slider .banner_text {
    height: 550px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 7, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
  .banner_part .single_banner_slider .banner_text {
    height: 650px;
  }
}

/* line 21, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
.banner_part .single_banner_slider .banner_text h1 {
  font-size: 66px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 35px;
  line-height: 72px;
}

@media (max-width: 576px) {
  /* line 21, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
  .banner_part .single_banner_slider .banner_text h1 {
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 21, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
  .banner_part .single_banner_slider .banner_text h1 {
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 21, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
  .banner_part .single_banner_slider .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 21, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
  .banner_part .single_banner_slider .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.4;
  }
}

/* line 47, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
.banner_part .single_banner_slider .banner_text h1 span {
  color: #ff3368;
}

/* line 51, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
.banner_part .single_banner_slider .banner_text p {
  font-size: 15px;
  line-height: 1.8;
  font-family: "Poppins", sans-serif;
  margin-bottom: 70px;
  padding-right: 80px;
}

@media (max-width: 991px) {
  /* line 51, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
  .banner_part .single_banner_slider .banner_text p {
    padding-right: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 51, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
  .banner_part .single_banner_slider .banner_text p {
    padding-right: 0;
  }
}

/* line 66, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
.banner_part .single_banner_slider .banner_img {
  position: absolute;
  right: 0;
  top: 30%;
}

/* line 72, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
.banner_part .owl-nav {
  position: absolute;
  right: -20%;
  bottom: 0;
  padding: 35px 80px;
  background-color: #fff;
}

@media (max-width: 991px) {
  /* line 72, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
  .banner_part .owl-nav {
    right: 0;
    padding: 20px 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 72, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
  .banner_part .owl-nav {
    right: 0;
    padding: 20px 40px;
  }
}

/* line 86, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
.banner_part .owl-nav .owl-prev,
.banner_part .owl-nav .owl-next {
  text-transform: capitalize;
  margin: 0 15px !important;
  text-transform: capitalize;
  font-weight: 700 !important;
}

/* line 94, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
.banner_part .owl-nav .owl-prev {
  position: relative;
}

/* line 96, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
.banner_part .owl-nav .owl-prev:after {
  position: absolute;
  right: -17px;
  top: 3px;
  width: 1px;
  height: 16px;
  content: "";
  background-color: #000;
}

/* line 107, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
.banner_part .btn_2 {
  box-shadow: none;
}

@media (max-width: 991px) {
  /* line 110, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
  .banner_part .btn_2 .btn_2 {
    margin-top: 15px;
  }
}

/* line 115, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
.banner_part .slider-counter {
  font-size: 100px;
  font-weight: 700;
  color: #cde8eb;
  position: absolute;
  right: -16%;
  top: 38%;
}

@media (max-width: 991px) {
  /* line 115, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
  .banner_part .slider-counter {
    font-size: 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 115, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
  .banner_part .slider-counter {
    font-size: 40px;
  }
}

@media (max-width: 991px) {
  /* line 2, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
  .banner_part {
    padding: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 135, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_banner.scss */
  .banner_part .banner_img img {
    max-width: 75%;
    float: right;
  }
}