/* ------------------
  Features section
---------------------*/

.feature {
	text-align: center;
	background: #f8f8f8;
	height: 100%;
}

.feature:nth-child(2) {
	background: #f51167;
}

.feature:nth-child(2) h2 {
	color: #fff;
}

.feature .feature-inner {
	padding: 20px 25px;
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
}

.feature .feature-icon {
	display: inline-block;
	margin-right: 15px;
}

.feature h2 {
	font-size: 24px;
	text-transform: uppercase;
	display: inline-block;
}