/* Latest Blog Area css
============================================================================================ */
/* line 220, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.l_blog_item .l_blog_text .date {
  margin-top: 24px;
  margin-bottom: 15px;
}

/* line 224, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.l_blog_item .l_blog_text .date a {
  font-size: 12px;
}

/* line 230, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.l_blog_item .l_blog_text h4 {
  font-size: 18px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 0px;
  padding-bottom: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 243, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.l_blog_item .l_blog_text p {
  margin-bottom: 0px;
  padding-top: 20px;
}

/* End Latest Blog Area css