
/*ana sayfa cart*/
.single_product_item {
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 991px) {
  /* line 58, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
  .single_product_item img {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 58, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
  .single_product_item img {
    width: 100%;
  }
}

/* line 66, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
.single_product_item .single_product_text {
  padding: 32px 0;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 71, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
.single_product_item .single_product_text h4 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 14px;
}

/* line 77, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
.single_product_item .single_product_text h3 {
  font-weight: 300;
  font-size: 18px;
}

/* line 82, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
.single_product_item .single_product_text a {
  color: #ff3368;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-top: 10px;
  opacity: 0;
  visibility: visible;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 93, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
.single_product_item .single_product_text a i {
  float: right;
  font-size: 18px;
  line-height: 26px;
  color: #000;
}
/* line 102, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
.single_product_item:hover {
  box-shadow: 0px 10px 20px 0px rgba(0, 23, 51, 0.09);
}


/* line 109, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
.single_product_item:hover a {
  opacity: 1;
  visibility: visible;
}
/* line 105, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
.single_product_item:hover .single_product_text {
  padding: 32px 32px;
}
/* line 40, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item:hover .single_product_text {
  padding: 32px 0 0;
}
/* line 7, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item .single_product_text {
  padding: 35px 0 0;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 11, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item .single_product_text h4 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 14px;
}

/* line 16, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item .single_product_text h3 {
  font-weight: 300;
  font-size: 18px;
}

/* line 20, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item .single_product_text a {
  color: #ff3368;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 30, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item .single_product_text a i {
  float: right;
  font-size: 18px;
  line-height: 26px;
  color: #000;
}
.single_product_item {
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}



/* Product Sidebar Area css
============================================================================================ */
/* line 168, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cat_product_area .latest_product_inner {
  padding-top: 30px;
}

/* line 171, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cat_product_area .latest_product_inner .single-product {
  margin-bottom: 50px;
}

/* line 180, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.left_sidebar_area .widgets_inner ul li {
  display: flex;
  justify-content: space-between;
}

/* line 184, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.left_sidebar_area .widgets_inner ul li:hover {
  color: #ff3368;
}

/* line 185, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.left_sidebar_area .widgets_inner ul li:hover a {
  color: #ff3368;
}

/* line 196, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.left_widgets {
  margin-bottom: 30px;
}

/* line 199, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.left_widgets:last-child {
  margin-bottom: 0px;
}

/* line 204, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.widgets_inner {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 15px;
}

@media (max-width: 991px) {
  /* line 204, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .widgets_inner {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 218, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.l_w_title {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 991px) {
  /* line 218, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .l_w_title {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 228, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.l_w_title h3 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
  color: #2a2a2a;
  font-weight: 500;
  line-height: 40px;
  position: relative;
}

/* line 240, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.p_filter_widgets .widgets_inner {
  border-bottom: 1px solid #eeeeee;
}

/* line 243, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.p_filter_widgets .widgets_inner:last-child {
  border-bottom: 0px;
}

/* line 248, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.p_filter_widgets .list {
  border-top: 1px solid #ddd;
  padding-top: 25px;
  margin-top: 25px;
}

/* line 253, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.p_filter_widgets .list:first-child {
  padding-top: 0;
  margin-top: 0;
  border-top: 0px solid transparent;
}

/* line 259, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.p_filter_widgets .list li {
  margin-bottom: 18px;
}

/* line 262, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.p_filter_widgets .list li a {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #797979;
  position: relative;
}

/* line 273, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.p_filter_widgets .list li.active a:before, .p_filter_widgets .list li:hover a:before {
  background: #ff3368;
  border-color: #ff3368;
}

/* line 280, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.p_filter_widgets .list li:last-child {
  margin-bottom: 0px;
}

/* line 287, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar {
  clear: both;
  display: flex;
  padding: 10px 0;
}

@media (max-width: 576px) {
  /* line 287, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .product_top_bar {
    display: block !important;
  }
}

/* line 305, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .sorting {
  display: inline-block;
  clear: none;
  border: 1px solid #eeeeee;
  border-radius: 0px;
  height: 40px;
  width: 210px;
  padding-left: 20px;
}

/* line 314, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .sorting span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #555555;
}

/* line 320, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .sorting .list {
  width: 100%;
  border-radius: 0px;
}

/* line 324, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .sorting .list li {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #555555;
}

/* line 331, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .sorting:after {
  content: "\f0d7";
  font: normal normal normal 14px/1 FontAwesome;
  transform: rotate(0);
  border: none;
  color: #555555;
  margin-top: -6px;
  right: 20px;
}

/* line 342, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .show {
  clear: none;
  display: inline-block;
  clear: none;
  border: 1px solid #eeeeee;
  border-radius: 0px;
  height: 40px;
  width: 120px;
  padding-left: 20px;
  margin-left: 10px;
}

/* line 353, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .show span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #555555;
}

/* line 359, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .show .list {
  width: 100%;
  border-radius: 0px;
}

/* line 363, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .show .list li {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #555555;
}

/* line 370, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .show:after {
  content: "\f0d7";
  font: normal normal normal 14px/1 FontAwesome;
  transform: rotate(0);
  border: none;
  color: #555555;
  margin-top: -6px;
  right: 20px;
}

@media (max-width: 576px) {
  /* line 382, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .product_top_bar .single_product_menu {
    width: 50%;
    float: left;
    margin-bottom: 20px;
  }
}

/* line 397, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu p {
  color: #020202;
  font-weight: 500;
}

@media (max-width: 576px) {
  /* line 397, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .product_top_bar .single_product_menu p {
    font-size: 13px;
    line-height: 13px;
  }
}

/* line 413, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu p span {
  color: #ff3368;
}

/* line 418, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu h5 {
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0;
}

/* line 425, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .nice-select {
  height: 0;
  border: 0px;
  line-height: 15px;
  font-weight: 300;
  text-transform: capitalize;
}

/* line 432, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .nice-select:after {
  margin-top: 0;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  right: 0px;
}

/* line 440, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .top_pageniation {
  line-height: 15px;
}

/* line 443, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .top_pageniation ul {
  margin-left: 20px;
}

/* line 446, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .top_pageniation ul li {
  display: inline-block;
  margin-left: 10px;
}

/* line 454, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .input-group {
  width: 150px;
}

/* line 457, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .input-group .form-control {
  border: 0px solid transparent;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  text-align: center;
  text-transform: capitalize;
}

/* line 465, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .input-group .input-group-text {
  background-color: transparent;
  border: 0px solid transparent;
  border-bottom: 1px solid #ddd;
}

/* line 474, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.most_p_withoutbox {
  padding-bottom: 120px;
}

/* line 478, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.price_value input {
  border: 0px;
  text-align: center;
  max-width: 30px;
}

/* line 485, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.price_value span {
  margin: 5px 5px 0;
}

/* line 490, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.irs-to,
.irs-from,
.irs-max,
.irs-min {
  display: none;
}

/* line 499, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.price_rangs_aside .l_w_title h3 {
  line-height: 20px;
  margin-bottom: 0px;
}

/* line 506, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.irs-bar {
  height: 6px;
  top: 33px;
  border-top: 1px solid #ff3368;
  border-bottom: 1px solid #ff3368;
  background: #ff3368;
  background: linear-gradient(to top, #ff3368 0%, #ff3368 100%);
}

/* line 515, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.irs-line {
  height: 6px;
  top: 33px;
  background: #e8eff1;
  background: linear-gradient(to bottom, #e8eff1 -50%, #e8eff1 150%);
  border: 1px solid #e8eff1;
  border-radius: 16px;
  -moz-border-radius: 16px;
}

/* line 525, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.irs-slider {
  height: 15px;
  width: 15px;
  border: 1px solid #ff3368;
  background-color: #ff3368;
  background: linear-gradient(to bottom, #ff3368 0%, #ff3368 20%, #ff3368 100%);
  top: 28px;
  box-shadow: none;
}

/* End Product Sidebar Area css
============================================================================================ */
/* Single Product Area css
============================================================================================ */
/* line 544, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_img .carousel {
  position: relative;
}

/* line 547, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_img .carousel .carousel-indicators {
  margin: 0px;
  right: 20px;
  width: auto;
  left: auto;
  bottom: 30px;
}

/* line 554, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_img .carousel .carousel-indicators li {
  height: 60px;
  width: 60px;
  background: transparent;
  text-indent: 0;
  margin-right: 10px;
  position: relative;
}

/* line 562, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_img .carousel .carousel-indicators li:after {
  display: none;
}

/* line 566, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_img .carousel .carousel-indicators li:before {
  content: "";
  background: rgba(197, 50, 45, 0.8);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 578, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_img .carousel .carousel-indicators li.active:before {
  opacity: 1;
}

@media (max-width: 576px) {
  /* line 587, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .s_product_text {
    margin-top: 30px;
  }
}

/* line 601, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text h5 {
  font-weight: 700;
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  /* line 601, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .s_product_text h5 {
    margin-bottom: 15px;
  }
}

/* line 619, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text h5 span {
  margin: 0 10px;
}

/* line 624, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text h3 {
  font-size: 24px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 10px;
}

/* line 631, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ff3368;
  margin-bottom: 15px;
}

/* line 639, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li {
  margin-bottom: 5px;
}

/* line 642, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li a {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #555555;
}

/* line 648, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li a span {
  width: 90px;
  display: inline-block;
}

/* line 652, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li a span:hover {
  color: #555;
}

/* line 657, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li a.active {
  color: #ff3368;
}

/* line 660, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li a.active span {
  color: #555;
}

/* line 666, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li:last-child {
  margin-bottom: 0px;
}

/* line 672, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text p {
  padding-top: 20px;
  border-top: 1px dotted #d5d5d5;
  margin: 20px 0;
}

/* line 679, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .card_area .main_btn {
  line-height: 38px;
  padding: 0px 38px;
  text-transform: uppercase;
  margin-right: 10px;
}

/* line 686, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .card_area .icon_btn {
  margin-right: 10px;
  background: #f6f6f6;
  border-radius: 3px;
  color: #2a2a2a;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  padding: 0px 13px;
  font-size: 14px;
}

/* line 697, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .card_area .icon_btn:hover {
  background: #fff;
  box-shadow: -14.142px 14.142px 20px 0px rgba(0, 0, 0, 0.1);
}
.s_product_text .card_area {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 20px 0;
}

/* line 1993, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .card_area .product_count input {
  border: 0px solid transparent;
  text-align: center;
}

/* line 706, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_area .product_count {
  display: inline-block;
  position: relative;
  margin-bottom: 24px;
  overflow: hidden;
}

/* line 712, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_area .product_count input {
  width: 76px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding-left: 10px;
}

/* line 719, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_area .product_count .input-number-increment {
  position: absolute;
  right: 0;
  top: -7px;
  padding: 7px;
  border-left: 1px solid #dddddd;
  display: inline-block;
}

/* line 727, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_area .product_count .input-number-increment:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 7px;
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}

/* line 739, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_area .product_count .input-number-decrement {
  position: absolute;
  right: 0;
  bottom: -9px;
  padding: 7px;
  border-left: 1px solid #dddddd;
  display: inline-block;
}

@media (max-width: 576px) {
  /* line 749, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .cart_area .media {
    display: block;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 754, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .cart_area .media {
    display: block;
  }
}

/* line 761, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area {
  padding-bottom: 120px;
  margin-top: 60px;
}

@media (max-width: 991px) {
  /* line 761, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .product_description_area {
    margin-top: 0px;
    padding-bottom: 70px;
  }
}

/* line 771, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .nav.nav-tabs {
  display: block;
  border: none;
  padding: 10px 0px;
}

/* line 776, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .nav.nav-tabs li {
  display: inline-block;
  margin-right: 7px;
}

/* line 780, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .nav.nav-tabs li:last-child {
  margin-right: 0px;
}

/* line 784, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .nav.nav-tabs li a {
  padding: 0px;
  border: none;
  line-height: 38px;
  background: #fff;
  border: 1px solid #eeeeee;
  border-radius: 0px;
  padding: 0px 30px;
  color: #2a2a2a;
  font-size: 13px;
  font-weight: normal;
  border-radius: 50px;
}

@media (max-width: 991px) {
  /* line 784, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .product_description_area .nav.nav-tabs li a {
    padding: 0px 20px;
    margin-bottom: 10px;
  }
}

/* line 803, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .nav.nav-tabs li a.active {
  background: #ff3368;
  color: #fff;
  border-color: #ff3368;
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
}

/* line 813, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content {
  padding-top: 30px;
}

/* line 818, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .box_total {
  background: #ecfdff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #dddddd;
}

/* line 824, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .box_total h4 {
  color: #ff3368;
  font-size: 48px;
  font-weight: bold;
}

/* line 830, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .box_total h5 {
  color: #2a2a2a;
  margin-bottom: 0px;
  font-size: 24px;
}

/* line 836, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .box_total h6 {
  color: #2a2a2a;
  margin-bottom: 0px;
  font-size: 14px;
  color: #797979;
  font-weight: normal;
}

/* line 845, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .rating_list {
  margin-bottom: 30px;
}

/* line 848, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .rating_list h3 {
  font-size: 18px;
  color: #2a2a2a;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

/* line 858, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .rating_list .list li a {
  font-size: 14px;
  color: #797979;
}

/* line 862, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .rating_list .list li a i {
  color: #fbd600;
}

/* line 870, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .rating_list .list li:nth-child a i:last-child {
  color: #eeeeee;
}

/* line 881, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .table {
  margin-bottom: 0px;
}

/* line 886, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .table tbody tr td {
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 14px;
  padding-bottom: 14px;
}

/* line 892, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .table tbody tr td h5 {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #797979;
  margin-bottom: 0px;
  white-space: nowrap;
}

/* line 903, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .table tbody tr:first-child td {
  border-top: 0px;
}

/* line 915, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item {
  margin-bottom: 35px;
}

/* line 918, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item:last-child {
  margin-bottom: 0px;
}

/* line 922, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item p {
  color: #797979;
}

/* line 926, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media {
  position: relative;
}

/* line 929, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .d-flex {
  padding-right: 15px;
}

/* line 933, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .media-body {
  vertical-align: middle;
  align-self: center;
}

/* line 937, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .media-body h4 {
  margin-bottom: 0px;
  font-size: 14px;
  color: #2a2a2a;
  font-family: "Poppins", sans-serif;
  margin-bottom: 8px;
}

/* line 945, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .media-body i {
  color: #fbd600;
}

/* line 949, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .media-body h5 {
  font-size: 13px;
  font-weight: normal;
  color: #797979;
}

/* line 955, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .media-body .reply_btn {
  border: 1px solid #e0e0e0;
  padding: 0px 28px;
  display: inline-block;
  line-height: 32px;
  border-radius: 16px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #2a2a2a;
  position: absolute;
  right: 0px;
  top: 14px;
}

/* line 968, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .media-body .reply_btn:hover {
  background: #ff3368;
  border-color: #ff3368;
  color: #fff;
}

/* line 977, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item p {
  padding-top: 10px;
  margin-bottom: 0px;
}

/* line 982, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item.reply {
  padding-left: 28px;
}

/* line 988, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box h4 {
  font-size: 24px;
  color: #2a2a2a;
  margin-bottom: 20px;
  font-weight: 700;
}

/* line 995, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box p {
  margin-bottom: 0px;
  display: inline-block;
  font-weight: 500;
}

/* line 1001, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box .list {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 1006, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box .list li {
  display: inline-block;
}

/* line 1009, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box .list li a {
  display: inline-block;
  color: #fbd600;
}

/* line 1016, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box .form-control {
  height: 50px;
  border-radius: 0;
}

/* line 1020, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box ::placeholder {
  font-size: 14px;
}

/* line 1023, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box .btn_3 {
  padding: 13px 39px;
}

/* line 1026, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box .contact_form {
  margin-top: 15px;
}
/* line 1999, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .product_count {
  border: 1px solid #ddd;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

/* line 2007, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .product_count .input-number {
  display: inline-block;
  width: 60px;
}

@media (max-width: 576px) {
  /* line 2007, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .s_product_text .product_count .input-number {
    width: 30px;
  }
}
/* End Single Product Area css
============================================================================================ */
