/*============ Start Blog Single Styles  =============*/
/* line 1042, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .blog_details {
  box-shadow: none;
  padding: 0;
}

/* line 1047, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .social-links {
  padding-top: 10px;
}

/* line 1050, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .social-links li {
  display: inline-block;
  margin-bottom: 10px;
}

/* line 1054, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .social-links li a {
  color: #cccccc;
  padding: 7px;
  font-size: 14px;
  transition: all 0.2s linear;
}

/* line 1067, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .blog_details {
  padding-top: 26px;
}

/* line 1070, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .blog_details p {
  margin-bottom: 20px;
  font-size: 15px;
}

/* line 1080, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .quote-wrapper {
  background: rgba(130, 139, 178, 0.1);
  padding: 15px;
  line-height: 1.733;
  color: #888888;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  /* line 1080, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
  .single-post-area .quote-wrapper {
    padding: 30px;
  }
}

/* line 1094, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .quotes {
  background: #fff;
  padding: 15px 15px 15px 20px;
  border-left: 2px solid;
}

@media (min-width: 768px) {
  /* line 1094, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
  .single-post-area .quotes {
    padding: 25px 25px 25px 30px;
  }
}

/* line 1104, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .arrow {
  position: absolute;
}

/* line 1107, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .arrow .lnr {
  font-size: 20px;
  font-weight: 600;
}

/* line 1114, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .thumb .overlay-bg {
  background: rgba(0, 0, 0, 0.8);
}

/* line 1119, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-top {
  padding-top: 15px;
  border-top: 1px solid #f0e9ff;
}

/* line 1123, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-top p {
  margin-bottom: 0;
}

/* line 1127, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-top .like-info {
  font-size: 14px;
}

/* line 1130, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-top .like-info i,
.single-post-area .navigation-top .like-info span {
  font-size: 16px;
  margin-right: 5px;
}

/* line 1137, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-top .comment-count {
  font-size: 14px;
}

/* line 1140, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-top .comment-count i,
.single-post-area .navigation-top .comment-count span {
  font-size: 16px;
  margin-right: 5px;
}

/* line 1149, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-top .social-icons li {
  display: inline-block;
  margin-right: 15px;
}

/* line 1153, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-top .social-icons li:last-child {
  margin: 0;
}

/* line 1157, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-top .social-icons li i,
.single-post-area .navigation-top .social-icons li span {
  font-size: 14px;
  color: #999999;
}

/* line 1175, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .blog-author {
  padding: 40px 30px;
  background: #fbf9ff;
  margin-top: 50px;
}

@media (max-width: 600px) {
  /* line 1175, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
  .single-post-area .blog-author {
    padding: 20px 8px;
  }
}

/* line 1184, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .blog-author img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 30px;
}

@media (max-width: 600px) {
  /* line 1184, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
  .single-post-area .blog-author img {
    margin-right: 15px;
    width: 45px;
    height: 45px;
  }
}

/* line 1197, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .blog-author a {
  display: inline-block;
}

/* line 1201, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .blog-author a:hover {
  color: #ff3368;
}

/* line 1206, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .blog-author p {
  margin-bottom: 0;
  font-size: 15px;
}

/* line 1211, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .blog-author h4 {
  font-size: 16px;
}

/* line 1218, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-area {
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  margin-top: 55px;
}

/* line 1223, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-area p {
  margin-bottom: 0px;
}

/* line 1227, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-area h4 {
  font-size: 18px;
  line-height: 25px;
}

/* line 1233, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-left {
  text-align: left;
}

/* line 1236, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-left .thumb {
  margin-right: 20px;
  background: #000;
}

/* line 1240, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-left .thumb img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 1245, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-left .lnr {
  margin-left: 20px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 1252, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-left:hover .lnr {
  opacity: 1;
}

/* line 1257, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-left:hover .thumb img {
  opacity: .5;
}

@media (max-width: 767px) {
  /* line 1233, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
  .single-post-area .navigation-area .nav-left {
    margin-bottom: 30px;
  }
}

/* line 1268, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-right {
  text-align: right;
}

/* line 1271, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-right .thumb {
  margin-left: 20px;
  background: #000;
}

/* line 1275, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-right .thumb img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 1280, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-right .lnr {
  margin-right: 20px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 1287, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-right:hover .lnr {
  opacity: 1;
}

/* line 1292, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-right:hover .thumb img {
  opacity: .5;
}

@media (max-width: 991px) {
  /* line 1300, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
  .single-post-area .sidebar-widgets {
    padding-bottom: 0px;
  }
}

/* line 1307, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comments-area {
  background: transparent;
  border-top: 1px solid #eee;
  padding: 45px 0;
  margin-top: 50px;
}

@media (max-width: 414px) {
  /* line 1307, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
  .comments-area {
    padding: 50px 8px;
  }
}

/* line 1318, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comments-area h4 {
  margin-bottom: 35px;
  font-size: 18px;
}

/* line 1325, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comments-area h5 {
  font-size: 16px;
  margin-bottom: 0px;
}

/* line 1334, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comments-area .comment-list {
  padding-bottom: 48px;
}

/* line 1337, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comments-area .comment-list:last-child {
  padding-bottom: 0px;
}

/* line 1341, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comments-area .comment-list.left-padding {
  padding-left: 25px;
}

@media (max-width: 413px) {
  /* line 1347, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
  .comments-area .comment-list .single-comment h5 {
    font-size: 12px;
  }
  /* line 1351, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
  .comments-area .comment-list .single-comment .date {
    font-size: 11px;
  }
  /* line 1355, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
  .comments-area .comment-list .single-comment .comment {
    font-size: 10px;
  }
}

/* line 1362, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comments-area .thumb {
  margin-right: 20px;
}

/* line 1365, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comments-area .thumb img {
  width: 70px;
  border-radius: 50%;
}

/* line 1371, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comments-area .date {
  font-size: 14px;
  color: #999999;
  margin-bottom: 0;
  margin-left: 20px;
}

/* line 1378, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comments-area .comment {
  margin-bottom: 10px;
  color: #777777;
  font-size: 15px;
}

/* line 1384, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comments-area .btn-reply {
  background-color: transparent;
  color: #888888;
  padding: 5px 18px;
  font-size: 14px;
  display: block;
  font-weight: 400;
}

/* line 1401, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comment-form {
  border-top: 1px solid #eee;
  padding-top: 45px;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* line 1409, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comment-form .form-group {
  margin-bottom: 30px;
}

/* line 1413, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comment-form h4 {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 22px;
}

/* line 1421, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comment-form .name {
  padding-left: 0px;
}

@media (max-width: 767px) {
  /* line 1421, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
  .comment-form .name {
    padding-right: 0px;
    margin-bottom: 1rem;
  }
}

/* line 1430, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comment-form .email {
  padding-right: 0px;
}

@media (max-width: 991px) {
  /* line 1430, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
  .comment-form .email {
    padding-left: 0px;
  }
}

/* line 1438, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comment-form .form-control {
  border: 1px solid #f0e9ff;
  border-radius: 5px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
}

/* line 1446, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comment-form .form-control:focus {
  outline: 0;
  box-shadow: none;
}

/* line 1451, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comment-form .form-control::placeholder {
  font-weight: 300;
  color: #999999;
}

/* line 1456, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comment-form .form-control::placeholder {
  color: #777777;
}

/* line 1461, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comment-form textarea {
  padding-top: 18px;
  border-radius: 12px;
  height: 100% !important;
}

/* line 1467, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comment-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 13px;
  color: #777;
}

/* line 1473, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comment-form ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 13px;
  color: #777;
}

/* line 1479, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comment-form :-ms-input-placeholder {
  /* IE 10+ */
  font-size: 13px;
  color: #777;
}

/* line 1485, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.comment-form :-moz-placeholder {
  /* Firefox 18- */
  font-size: 13px;
  color: #777;
}

/* line 1493, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single_sidebar_widget .btn_1 {
  margin-top: 0px;
  padding: 15px 24px;
}

/*============ End Blog Single Styles  =============*/