
@{
    ViewBag.Title = "Basket";
}
@*Sepet kodları*@
<section class="cart-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-table">
                    <h3>Senin sepetin senin hayalin...</h3>
                    <div class="cart-table-warp">
                        <div class="mycart-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Sil</th>
                                        <th>Ürünüm</th>
                                        <th>Proje adı</th>
                                        <th>Boyut</th>
                                        <th>Oda adı</th>
                                        <th>Fiyat</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="fa fa-trash fa-2x"></button>
                                            </div>
                                        </td>
                                        <td class="product-col">
                                            <img src="img/web_img/cart-1.jpg" alt="">
                                            <div class="pc-title">
                                                <h4>Animal Print Dress</h4>

                                            </div>
                                        </td>
                                        <td class="project-col">
                                            <div class="nice-select wide small" tabindex="0"><span class="current">1</span><ul class="list"><li data-value="1" class="option selected focus">1</li><li data-value="2" class="option">2</li><li data-value="3" class="option">3</li><li data-value="4" class="option">4</li></ul></div>
                                        </td>

                                        <td>41mb</td>

                                        <td class="room-col">
                                            <input id="msg" type="text" class="form-control" name="msg" placeholder="Text">
                                        </td>
                                        <td>₺650</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="fa fa-trash fa-2x"></button>
                                            </div>
                                        </td>
                                        <td class="product-col">
                                            <img src="img/web_img/cart-1.jpg" alt="">
                                            <div class="pc-title">
                                                <h4>Animal Print Dress</h4>

                                            </div>
                                        </td>
                                        <td project-col>
                                            <div class="nice-select wide small" tabindex="0"><span class="current">1</span><ul class="list"><li data-value="1" class="option selected focus">1</li><li data-value="2" class="option">2</li><li data-value="3" class="option">3</li><li data-value="4" class="option">4</li></ul></div>
                                        </td>

                                        <td>41mb</td>

                                        <td class="oda">
                                            <input id="msg" type="text" class="form-control" name="msg" placeholder="Text">
                                        </td>
                                        <td>₺650</td>
                                    </tr>



                                    <tr>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="fa fa-trash fa-2x"></button>
                                            </div>
                                        </td>
                                        <td class="product-col">
                                            <img src="img/web_img/cart-1.jpg" alt="">
                                            <div class="pc-title">
                                                <h4>Animal Print Dress</h4>

                                            </div>
                                        </td>
                                        <td project-col>
                                            <div class="nice-select wide small" tabindex="0"><span class="current">1</span><ul class="list"><li data-value="1" class="option selected focus">1</li><li data-value="2" class="option">2</li><li data-value="3" class="option">3</li><li data-value="4" class="option">4</li></ul></div>
                                        </td>

                                        <td>41mb</td>

                                        <td class="oda">
                                            <input id="msg" type="text" class="form-control" name="msg" placeholder="Text">
                                        </td>
                                        <td>₺650</td>
                                    </tr>


                                    <tr>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="fa fa-trash fa-2x"></button>
                                            </div>
                                        </td>
                                        <td class="product-col">
                                            <img src="img/web_img/cart-1.jpg" alt="">
                                            <div class="pc-title">
                                                <h4>Animal Print Dress</h4>

                                            </div>
                                        </td>
                                        <td project-col>
                                            <div class="nice-select wide small" tabindex="0"><span class="current">1</span><ul class="list"><li data-value="1" class="option selected focus">1</li><li data-value="2" class="option">2</li><li data-value="3" class="option">3</li><li data-value="4" class="option">4</li></ul></div>
                                        </td>

                                        <td>41mb</td>

                                        <td class="oda">
                                            <input id="msg" type="text" class="form-control" name="msg" placeholder="Text">
                                        </td>
                                        <td>₺650</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="fa fa-trash fa-2x"></button>
                                            </div>
                                        </td>
                                        <td class="product-col">
                                            <img src="img/web_img/cart-1.jpg" alt="">
                                            <div class="pc-title">
                                                <h4>Animal Print Dress</h4>

                                            </div>
                                        </td>
                                        <td project-col>

                                            <div class="nice-select wide small" tabindex="0"><span class="current">1</span><ul class="list"><li data-value="1" class="option selected focus">1</li><li data-value="2" class="option">2</li><li data-value="3" class="option">3</li><li data-value="4" class="option">4</li></ul></div>


                                        </td>
                                        <td>41mb</td>

                                        <td class="oda">
                                            <input id="msg" type="text" class="form-control" name="msg" placeholder="Text">
                                        </td>
                                        <td>₺650</td>
                                    </tr>

                                </tbody>

                            </table>
                            <a href="#" class="buton">Sepeti temizle</a>
                        </div>

                    </div>



                    <div class="total-cost">
                        <div class="row">
                            <div class="col-lg-6">
                                <p>
                                    Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <h6>
                                    Toplam:<span>₺995.90</span>
                                    <a href="#" class="myButton">Siparişi tamamla</a>
                                </h6>
                            </div>
                        </div>



                    </div>








                </div>
            </div>

        </div>
        <div class="Yazi">
            <p>
                Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.

                <br /><br />


                Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
            </p>
        </div>
    </div>
</section>

@*Önerilenler Kodları*@
<section class="product_list best_seller">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                    <h2>Önerilenler </h2>
                </div>
            </div>
        </div>
        <!--   $( ".owl-prev").html('<i class="fa fa-chevron-left"></i>');
         $( ".owl-next").html('<i class="fa fa-chevron-right"></i>');-->
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-12">
                <div class="best_product_slider owl-carousel">
                    <div class="product-item filter-sale">
                        <div class="product-img">
                            <img src="img/categories/Banyo/Banyo_dolapları/85635.5336d260bbc61.jpeg" alt="product">
                            <!--<div class="product-sale">
                                İndirim
                            </div>-->
                            <div class="product-hover">
                                <div class="product-cart">
                                    <a class="btn btn-secondary btn-block" href="#">Sepete ekle</a>
                                </div>
                            </div>
                        </div>
                        <!-- .product-img end -->
                        <div class="product-bio">
                            <h4>
                                <a href="#">Titan Measures</a>
                            </h4>
                            <!--<p class="product-price">
                                 <span>$40.00</span>
                                 $32.00</p>-->
                        </div>
                        <!-- .product-bio end -->

                    </div>
                    <div class="product-item filter-sale">
                        <div class="product-img">
                            <img src="img/categories/Banyo/Banyo_dolapları/85635.5336d260bbc61.jpeg" alt="product">
                            <!--<div class="product-sale">
                                İndirim
                            </div>-->
                            <div class="product-hover">
                                <div class="product-cart">
                                    <a class="btn btn-secondary btn-block" href="#">Sepete ekle</a>
                                </div>
                            </div>
                        </div>
                        <!-- .product-img end -->
                        <div class="product-bio">
                            <h4>
                                <a href="#">Titan Measures</a>
                            </h4>
                            <!--<p class="product-price">
                                 <span>$40.00</span>
                                 $32.00</p>-->
                        </div>
                        <!-- .product-bio end -->

                    </div>
                    <div class="product-item filter-sale">
                        <div class="product-img">
                            <img src="img/categories/Banyo/Banyo_dolapları/85635.5336d260bbc61.jpeg" alt="product">
                            <!--<div class="product-sale">
                                İndirim
                            </div>-->
                            <div class="product-hover">
                                <div class="product-cart">
                                    <a class="btn btn-secondary btn-block" href="#">Sepete ekle</a>
                                </div>
                            </div>
                        </div>
                        <!-- .product-img end -->
                        <div class="product-bio">
                            <h4>
                                <a href="#">Titan Measures</a>
                            </h4>
                            <!--<p class="product-price">
                                    <span>$40.00</span>
                                    $32.00</p>-->
                        </div>
                        <!-- .product-bio end -->

                    </div>
                    <div class="product-item filter-sale">
                        <div class="product-img">
                            <img src="img/categories/Banyo/Banyo_dolapları/85635.5336d260bbc61.jpeg" alt="product">
                            <!--<div class="product-sale">
                                İndirim
                            </div>-->
                            <div class="product-hover">
                                <div class="product-cart">
                                    <a class="btn btn-secondary btn-block" href="#">Sepete ekle</a>
                                </div>
                            </div>
                        </div>
                        <!-- .product-img end -->
                        <div class="product-bio">
                            <h4>
                                <a href="#">Titan Measures</a>
                            </h4>
                            <!--<p class="product-price">
                                <span>$40.00</span>
                                $32.00</p>-->
                        </div>
                        <!-- .product-bio end -->

                    </div>
                    <div class="product-item filter-sale">
                        <div class="product-img">
                            <img src="img/categories/Banyo/Banyo_dolapları/85635.5336d260bbc61.jpeg" alt="product">
                            <!--<div class="product-sale">
                                İndirim
                            </div>-->
                            <div class="product-hover">
                                <div class="product-cart">
                                    <a class="btn btn-secondary btn-block" href="#">Sepete ekle</a>
                                </div>
                            </div>
                        </div>
                        <!-- .product-img end -->
                        <div class="product-bio">
                            <h4>
                                <a href="#">Titan Measures</a>
                            </h4>
                            <p class="product-price">
                                <!--  <span>$40.00</span>
                                        $32.00</p>
                                </div>
                                <!-- product-bio end -->

                        </div>

                    </div>
                </div>
            </div>
</section>

@section scripts{
    <script>
        (function ($) {
            $(document).ready(function () {

                $(".owl-prev").html('<i class="fa fa-chevron-left"></i>');
                $(".owl-next").html('<i class="fa fa-chevron-right"></i>');

            });

        })(jQuery);
    </script>
}


