@model Onixa_Web.Models.ProductListViewModel




<main class="main-container">
    <section class="men_area pt-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!-- Filtre -->
                    @Html.Partial("_Filter", Model)
                    <!-- /Filtre -->
                    <div id="shop-all" class="row">
                        <!-- Product Item #1 -->
                        @foreach (var item in Model.ProductsLiteList)
                        {
                            if (string.IsNullOrWhiteSpace(item.MainImage))
                            {
                                item.MainImage = "web_img/gorsele_erisilemiyor.JPG";
                            }
                            <div class="col-xs-12 col-sm-6 col-md-3 product-item filter-sale">
                                <div class="product-img">
                                    <img src="~/img/@item.MainImage" alt="product">
                                    @*<div class="product-sale">
                                            İNDİRİM
                                        </div>*@
                                    <div class="product-hover">
                                        <div class="product-cart">
                                            <a class="btn btn-secondary btn-block" href="~/Home/ProductDetails/@item.Product_Id">Detaylar</a>
                                            <a class="btn btn-secondary btn-block" href="~/Home/deneme">Sepete Ekle</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- .product-img end -->
                                <div class="product-bio">
                                    <h4>
                                        <a href="~/Home/ProductDetails" title="@item.Name">@item.Name</a>
                                    </h4>
                                    @*<p class="product-price">
                                         <span>50</span>
                                        20</p>*@
                                </div>
                                <!-- .product-bio end -->

                            </div>
                        }

                        <!-- .product-item end -->


                    </div>
                </div>

            </div>
        </div>
    </section>


    <div class="clearfix"></div>
</main>

@section scripts{
    <script type="text/javascript">


        (function ($) {

            $(document).ready(function () {
                $("#katgegori_ana_baslik").change(function () {
                    var id = $(this).val();

                    var altbaslik = $("#altbaslik");
                    altbaslik.empty();
                    $.ajax({
                        url: '/Home/CategoryDownTitle',
                        type: 'POST',
                        dataType: 'json',
                        data: { 'id': id },
                        success: function (data) {
                            $.each(data,
                                function (index, option) {
                                    altbaslik.append("<option value=" + option.Value + ">" + option.Text + "</option>");
                                   alert(" dfs="+option.text);
                                });
                        }
                    });
                });
            });


        })(jQuery);

    </script>
}