
@{
    ViewBag.Title = "ProductDetails";
}


<style>



    /* these styles are for the demo, but are not required for the plugin */
    .zoom {
        display: inline-block;
        position: relative;
    }



        .zoom img {
            display: block;
        }

            .zoom img::selection {
                background-color: transparent;
            }
</style>


<div class="container">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Private</a></li>
        <li><a href="#">Pictures</a></li>
        <li class="active">Vacation</li>
    </ul>
</div>
<div class="product_image_area section_padding">
    <div class="container">
        <div class="row s_product_inner justify-content-between">
            <div class="col-lg-7 col-xl-7">
                <div class="product_slider_img zoom" style="position: relative; overflow: hidden;">
                    <div id="vertical">
                        @for (int i = 0; i < 5; i++)
                        {
                            <div data-thumb="../img/categories/Banyo/Banyo_dolapları/1010109.58edeb1f7577b.jpg" class="yakinlastir">
                                <img src="~/img/categories/Banyo/Banyo_dolapları/1010109.58edeb1f7577b.jpg" />
                            </div>
                        }


                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="s_product_text">
                    <h3>Faded SkyBlu Denim Jeans</h3>
                    <ul class="list">
                        <!--<li>
                            <span class="fiyat" >₺400</span>
                            <span class="kdv">+kdv dahildir</span>
                        </li>-->
                        <!--DETAYLAR!-->
                        <br/>
                        <br/>
                        <ul class="list">
                            <!--<li>
                                <span>PLATFORM</span> :  <a href=></a>  3dsMax2013+obj</a>
                            </li>-->
                            <li>

                                <!--<span>RENDER:</span>Corona
                                </li>
                                <li>
                                    <span>SIZE:</span>69 MB
                                </li>
                                <li>
                                    <span>DATE:</span>2020.07.15 21.56
                                </li>
                                <li>
                                    <span>FORMFACTOR:</span>Rectangle
                                </li>
                                <li>-->
                                <span>STYLE: </span>Modern
                            </li>
                            <li>
                                <!--<span>MATERNAL:</span>Fabric
                                </li>
                                <li>-->
                                <span>COLOR: </span>In Stock
                            </li>
                            <!-- <li>
                                <span>SATICI:</span>Onixa
                            </li>-->
                        </ul>
                    </ul>
                    <br/>
                    <!--DETAYLAR FİNİSH!-->
                    <h4>Ürün Açıklaması:</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <br/>
                    <div class="card_area">

                        <form>
                            <div class="input-group">
                                <span class="input-group-addon">Oda:</span>
                                <input id="msg" type="ODA" class="form-control" name="msg" placeholder="">
                            </div>
                            <br />
                            <h4>Not Ekle:</h4>
                            <textarea cols="60" rows="5" class="form-control" placeholder="Bir not eklemek isterseniz yazın..."></textarea>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon">Proje:</span>
                                <select class="nice-select wide small">
                                    <option>ERKİN İNŞAAT</option>
                                    <option>MATRAK İNŞAAT</option>
                                    <option>PROJE 5</option>

                                </select>
                            </div>
                        </form>
                        <br/>
                        <!--<div class="product_count" style="width: fit-content;">
        <span class="inumber-decrement"> <i class="fa fa-minus"></i></span>
        <input class="input-number" type="text" value="1" min="0" max="10">
        <span class="number-increment"> <i class="fa fa-plus"></i></span>
    </div>-->
                        <div class="btn-group">
                            <button type="button" title="Dismissible popover" class="btn btn-success btn-lg">Sepete Ekle</button>
                            <button type="button" class="btn btn-warning btn-lg">Satıcıya Danış</button>
                            @*<button type="button" class="btn btn-primary btn-lg" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Hemen Satın Al</button>*@
                        </div>
                        @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Small Modal</button>*@



                        @*<div style="margin-top: 10px;"></div> <a href="#" class="btn_3">Sepete ekle</a>*@


                    </div>
                    
                    <br />
                    <div class="">
                        
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Modal Header</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>This is a small modal.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Modal -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<section class="product_description_area">
    <div class="container">
        <div class="tab-content" id="myTabContent">
            <div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="comment_list">
                            <div class="review_item">
                                <div class="media">

                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <h5>12th Feb, 2017 at 05:56 pm</h5>
                                        <a class="reply_btn" href="#">Reply</a>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>Sende yorum yap</h4>
                            <form class="row contact_form" action="contact_process.php" method="post" id="contactForm"
                                  novalidate="novalidate">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Full name" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" id="message" rows="1"
                                                  placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <button type="submit" value="submit" class="btn_3">
                                        Paylaş
                                    </button>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $('.yakinlastir').zoom();

            });


        })(jQuery);

    </script>
}
