/* End Single Product Area css
============================================================================================ */
/* Cart Area css
============================================================================================ */
/* line 1042, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table {
  margin-bottom: 30px;
  border-bottom: 1px solid #dddddd;
}

/* line 1048, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table thead tr th {
  border-top: 0px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #797979;
  border-bottom: 0px !important;
}

/* line 1061, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td {
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
  align-self: center;
}
/* line 706, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_area .product_count {
  display: inline-block;
  position: relative;
  margin-bottom: 24px;
  overflow: hidden;
}
/* line 739, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_area .product_count .input-number-decrement {
  position: absolute;
  right: 0;
  bottom: -9px;
  padding: 7px;
  border-left: 1px solid #dddddd;
  display: inline-block;
}
.cart_area .product_count .input-number-increment {
  position: absolute;
  right: 0;
  top: -7px;
  padding: 7px;
  border-left: 1px solid #dddddd;
  display: inline-block;
}

/* line 727, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_area .product_count .input-number-increment:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 7px;
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}
/* line 712, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_area .product_count input {
  width: 76px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding-left: 10px;
}
/* line 1068, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .media .d-flex {
  padding-right: 30px;
}

/* line 1071, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .media .d-flex img {
  border: 1px solid #eeeeee;
  border-radius: 3px;
}

/* line 1077, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .media .media-body {
  vertical-align: middle;
  align-self: center;
}

/* line 1081, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .media .media-body p {
  margin-bottom: 0px;
}

/* line 1087, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td h5 {
  font-size: 14px;
  color: #2a2a2a;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0px;
}

/* line 1094, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .product_count {
  margin-bottom: 0px;
}

/* line 1097, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .product_count input {
  width: 100px;
  padding-left: 30px;
  height: 40px;
  outline: none;
  box-shadow: none;
}

/* line 1105, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .product_count .increase {
  top: -2px;
}

/* line 1108, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .product_count .increase:before {
  content: "";
  height: 40px;
  width: 1px;
  position: absolute;
  left: -3px;
  top: 0px;
  background: #eeeeee;
}

/* line 1118, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .product_count .increase:after {
  content: "";
  height: 1px;
  width: 30px;
  position: absolute;
  left: -3px;
  top: 22px;
  background: #eeeeee;
}

/* line 1129, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .product_count .reduced {
  bottom: -6px;
}

/* line 1136, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.bottom_button .gray_btn {
  line-height: 38px;
  background: #f6f6f6;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding: 0px 40px;
  display: inline-block;
  color: #2a2a2a;
  text-transform: uppercase;
  font-weight: 500;
}

/* line 1149, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.bottom_button td:last-child {
  width: 60px;
}

/* line 1153, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.bottom_button td .cupon_text {
  margin-left: -446px;
}

/* line 1156, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.bottom_button td .cupon_text input {
  width: 200px;
  padding: 0px 15px;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  height: 40px;
  font-size: 14px;
  color: #cccccc;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  margin-right: -3px;
  outline: none;
  box-shadow: none;
}

/* line 65, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_mixins.scss */
.cart_inner .table tbody tr.bottom_button td .cupon_text input.placeholder {
  font-size: 14px;
  color: #cccccc;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

/* line 68, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_mixins.scss */
.cart_inner .table tbody tr.bottom_button td .cupon_text input:-moz-placeholder {
  font-size: 14px;
  color: #cccccc;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

/* line 71, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_mixins.scss */
.cart_inner .table tbody tr.bottom_button td .cupon_text input::-moz-placeholder {
  font-size: 14px;
  color: #cccccc;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

/* line 74, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_mixins.scss */
.cart_inner .table tbody tr.bottom_button td .cupon_text input::-webkit-input-placeholder {
  font-size: 14px;
  color: #cccccc;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

/* line 1178, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.bottom_button td .cupon_text .main_btn {
  height: 40px;
  line-height: 38px;
  text-transform: uppercase;
  padding: 0px 38px;
  margin-right: -3px;
}

/* line 1186, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.bottom_button td .cupon_text .gray_btn {
  padding: 0px 40px;
}

/* line 1195, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area td:nth-child(3) {
  vertical-align: top;
}

/* line 1200, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box {
  margin-left: -250px;
  text-align: right;
}

/* line 1205, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box .list li {
  margin-bottom: 12px;
}

/* line 1208, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box .list li:last-child {
  margin-bottom: 0px;
}

/* line 1212, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box .list li a {
  padding-right: 30px;
  font-size: 14px;
  color: #797979;
  position: relative;
}

/* line 1218, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box .list li a:before {
  content: "";
  height: 16px;
  width: 16px;
  border: 1px solid #cdcdcd;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

/* line 1231, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box .list li a:after {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ff3368;
  display: inline-block;
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

/* line 1248, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box .list li.active a:after {
  opacity: 1;
}

/* line 1256, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box h6 {
  font-size: 14px;
  font-weight: normal;
  color: #2a2a2a;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 1264, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box h6 i {
  color: #797979;
  padding-left: 5px;
}

/* line 1270, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box .shipping_select {
  display: block;
  width: 100%;
  background: #ecfdff;
  border: 1px solid #ecfdff;
  height: 40px;
  margin-bottom: 20px;
}

/* line 1279, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box .shipping_select .list {
  width: 100%;
  border-radius: 0px;
}

/* line 1283, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box .shipping_select .list li {
  font-size: 14px;
  font-weight: normal;
  color: #797979;
}

/* line 1291, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box input {
  height: 40px;
  outline: none;
  background: #ecfdff;
  border: 1px solid #ecfdff;
  width: 100%;
  padding: 0px 15px;
  margin-bottom: 20px;
}

/* line 1305, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.out_button_area .checkout_btn_inner {
  margin-left: -388px;
}

/* line 1308, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.out_button_area .checkout_btn_inner .main_btn {
  height: 40px;
  padding: 0px 30px;
  line-height: 38px;
  text-transform: uppercase;
}

/* line 1321, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.gray_btn {
  line-height: 38px;
  background: #f6f6f6;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding: 0px 40px;
  display: inline-block;
  color: #2a2a2a;
  text-transform: uppercase;
  font-weight: 500;
}

/* End Cart Area css
============================================================================================ */
/* End Cart Area css
============================================================================================ */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Poppins", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.cart_inner .table {
  margin-bottom: 30px;
  border-bottom: 1px solid #dddddd;
}
.btn_1 {
  display: inline-block;
  padding: 9px 42px;
  border-radius: 50px;
  background-color: #ecfdff;
  font-size: 15px;
  font-weight: 700;
  color: #333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}