 </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
<table cellpadding="0" cellspacing="0" class="es-footer esd-footer-popover" align="center">
    <tbody>
        <tr>
            <td class="esd-stripe" align="center" esd-custom-block-id="59359">
                <table bgcolor="#ffffff" class="es-footer-body" align="center" cellpadding="0" cellspacing="0" width="600">
                    <tbody>
                        <tr>
                            <td class="esd-structure es-p20t es-p20b es-p20r es-p20l" align="left" bgcolor="#cccccc" style="background-color: #cccccc;">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td width="560" class="esd-container-frame" align="center" valign="top">
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" class="esd-block-image" style="font-size: 0px;"><a target="_blank"><img class="adapt-img" src="https://demo.stripocdn.email/content/guids/7355b1ae-e814-4858-8bf2-f148c1e6e900/images/27721602403931487.png" alt style="display: block;"></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>