/**************** blog part css start ****************/
@media (max-width: 576px) {
  /* line 2, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part {
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 2, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part {
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 2, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part {
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 2, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part {
    padding-bottom: 50px;
  }
}

/* line 15, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
.blog_part .card {
  border: 0px solid transparent;
}

/* line 18, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
.blog_part .blog_right_sidebar .widget_title {
  font-size: 20px;
  margin-bottom: 40px;
  font-style: inherit !important;
}

@media (max-width: 576px) {
  /* line 23, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part .single-home-blog {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 23, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part .single-home-blog {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 23, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part .single-home-blog {
    margin-bottom: 20px;
  }
}

/* line 36, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card-img-top {
  border-radius: 0px;
}

/* line 39, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card {
  border-radius: 0px;
  background-color: transparent;
  position: relative;
}

/* line 44, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card .card-body {
  padding: 35px 30px 23px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #edeff2;
}

/* line 49, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card .card-body:hover {
  box-shadow: 0px 10px 30px 0px rgba(12, 46, 96, 0.1);
  border: 1px solid transparent;
}

@media (max-width: 576px) {
  /* line 44, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card .card-body {
    padding: 15px 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 44, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card .card-body {
    padding: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 44, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card .card-body {
    padding: 20px;
  }
}

/* line 66, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card .card-body .btn_4 {
  margin-bottom: 20px;
}

/* line 70, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card .card-body a {
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

/* line 76, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card .dot {
  position: relative;
  padding-left: 20px;
}

/* line 79, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card .dot:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 5px;
  left: 0;
  background-color: #ff3368;
  border-radius: 50%;
}

/* line 90, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card span {
  color: #8a8a8a;
  margin-bottom: 10px;
  display: inline-block;
  margin-top: 10px;
}

@media (max-width: 576px) {
  /* line 90, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card span {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 90, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card span {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 90, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card span {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 90, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card span {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

/* line 112, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card h5 {
  font-weight: 600;
  line-height: 1.5;
  font-size: 19px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  text-transform: capitalize;
}

@media (max-width: 576px) {
  /* line 112, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card h5 {
    margin-bottom: 5px;
    font-size: 17px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 112, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card h5 {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 112, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card h5 {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 112, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card h5 {
    margin-bottom: 10px;
    font-size: 18px;
  }
}

/* line 133, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card h5:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  color: #ff3368;
}

/* line 139, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card ul {
  border-top: 1px solid #edeff2;
  padding-top: 20px;
  margin-top: 24px;
}

/* line 143, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card ul li {
  display: inline-block;
  color: #8a8a8a;
  margin-right: 39px;
}

@media (max-width: 576px) {
  /* line 143, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card ul li {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 143, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card ul li {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 143, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card ul li {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 143, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card ul li {
    margin-right: 10px;
  }
}

/* line 159, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card ul li span {
  margin-right: 10px;
}
