
/* --------------
  Category page
------------------*/

.filter-widget {
	margin-bottom: 100px;
}

.filter-widget .fw-title {
	font-size: 18px;
	font-weight: 700;
	color: #414141;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.category-menu {
	list-style: none;
}

.category-menu li a {
	display: block;
	position: relative;
	font-size: 12px;
	color: #414141;
	border-bottom: 1px solid #ebebeb;
	padding: 12px 0 5px 20px;
}

.category-menu li a span {
	float: right;
}

.category-menu li a:after {
	position: absolute;
	content: "";
	width: 9px;
	height: 9px;
	left: 0;
	top: 13px;
	border: 1px solid #f51167;
	border-radius: 50%;
}

.category-menu li a:hover {
	color: #f51167;
}

.category-menu li a:hover:after {
	background: #f51167;
}

.category-menu li a:last-child a {
	margin-bottom: 0;
}

.category-menu li .sub-menu {
	list-style: none;
	overflow: hidden;
	height: 0;
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
	opacity: 0;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.4s, -webkit-transform 0.4s;
	-o-transition: transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.category-menu li .sub-menu li a {
	padding-left: 45px;
}

.category-menu li:hover>a {
	color: #f51167;
}

.category-menu li.active>.sub-menu {
	display: block;
	height: auto;
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.price-range-wrap .price-range {
	border-radius: 0;
	margin-right: 13px;
	margin-bottom: 28px;
}

.price-range-wrap .price-range.ui-widget-content {
	border: none;
	background: #ebebeb;
	height: 2px;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-range {
	background: #ebebeb;
	border-radius: 0;
}

.price-range-wrap .price-range .ui-slider-range.ui-corner-all.ui-widget-header:last-child {
	background: #414141;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-handle {
	border: none;
	background: #414141;
	height: 14px;
	width: 14px;
	outline: none;
	top: -6px;
	cursor: ew-resize;
	margin-left: 0;
	border-radius: 0;
	border-radius: 20px;
}

.price-range-wrap .price-range .ui-slider-handle.ui-corner-all.ui-state-default span {
	position: absolute;
	font-size: 14px;
	top: 35px;
}

.price-range-wrap .range-slider {
	color: #444444;
	margin-top: 22px;
}

.price-range-wrap {
	border-bottom: 2px solid #ebebeb;
	padding-bottom: 40px;
	margin-bottom: 50px;
}

.price-range-wrap h4 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #414141;
	margin-bottom: 45px;
}

.price-range-wrap .range-slider .price-input input {
	color: #444444;
	border: none;
	outline: none;
	max-width: 80px;
	pointer-events: none;
}

.price-range-wrap .range-slider .price-input input:nth-child(1) {
	float: left;
}

.price-range-wrap .range-slider .price-input input:nth-child(2) {
	float: right;
}

.fw-color-choose,
.fw-size-choose {
	border-bottom: 2px solid #ebebeb;
	padding-bottom: 40px;
	margin-bottom: 50px;
}

.fw-color-choose .cs-item {
	display: inline-block;
	position: relative;
	margin-right: 14px;
}

.fw-color-choose .cs-item:last-child {
	margin-right: 0;
}

.fw-color-choose label {
	width: 26px;
	height: 26px;
	border-radius: 50px;
	background: #333;
	position: relative;
	cursor: pointer;
}

.fw-color-choose label.cs-gray {
	background: #d7d7d7;
}

.fw-color-choose label.cs-orange {
	background: #6f91ff;
}

.fw-color-choose label.cs-yollow {
	background: #6f91ff;
}

.fw-color-choose label.cs-green {
	background: #8fc99c;
}

.fw-color-choose label.cs-purple {
	background: #bc83b1;
}

.fw-color-choose label.cs-blue {
	background: #9ee7f4;
}

.fw-color-choose label span {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 45px;
	font-size: 11px;
	color: #414141;
}

.fw-color-choose input[type=radio] {
	visibility: hidden;
	position: absolute;
}

.fw-color-choose input[type=radio]:checked+label {
	-webkit-box-shadow: 0 0 0 2px #f51167;
	box-shadow: 0 0 0 2px #f51167;
}

.fw-color-choose input[type=radio]:checked+label span {
	color: #b09d81;
}

.fw-size-choose .sc-item {
	display: inline-block;
	position: relative;
	margin-right: 5px;
}

.fw-size-choose label {
	display: inline-block;
	height: 30px;
	min-width: 30px;
	text-align: center;
	font-size: 14px;
	color: #414141;
	font-weight: 500;
	cursor: pointer;
	border-radius: 50px;
	padding: 7px 6px 0;
}

.fw-size-choose input[type=radio] {
	visibility: hidden;
	position: absolute;
}

.fw-size-choose input[type=radio]:checked+label {
	background: #f51167;
	color: #fff;
}