/* Causes Area css
============================================================================================ */
/* line 259, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.causes_slider .owl-dots {
  text-align: center;
  margin-top: 80px;
}

/* line 263, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.causes_slider .owl-dots .owl-dot {
  height: 14px;
  width: 14px;
  background: #eeeeee;
  display: inline-block;
  margin-right: 7px;
}

/* line 270, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.causes_slider .owl-dots .owl-dot:last-child {
  margin-right: 0px;
}

/* line 281, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.causes_item {
  background: #fff;
}

/* line 284, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.causes_item .causes_img {
  position: relative;
}

/* line 287, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.causes_item .causes_img .c_parcent {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
  height: 3px;
  background: rgba(255, 255, 255, 0.5);
}

/* line 295, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.causes_item .causes_img .c_parcent span {
  width: 70%;
  height: 3px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

/* line 303, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.causes_item .causes_img .c_parcent span:before {
  content: "75%";
  position: absolute;
  right: -10px;
  bottom: 0px;
  color: #fff;
  padding: 0px 5px;
}

/* line 316, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.causes_item .causes_text {
  padding: 30px 35px 40px 30px;
}

/* line 319, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.causes_item .causes_text h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  cursor: pointer;
}

/* line 332, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.causes_item .causes_text p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 0px;
}

/* line 342, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.causes_item .causes_bottom a {
  width: 50%;
  border: 1px solid;
  text-align: center;
  float: left;
  line-height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

/* line 354, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.causes_item .causes_bottom a + a {
  border-color: #eeeeee;
  background: #fff;
  font-size: 14px;
}

/* End Causes Area css