
/* ----------------
  Contact Page
---------------------*/

.contact-section {
	padding-top: 80px;
	padding-bottom: 0;
	position: relative;
}

.contact-info h3 {
	margin-bottom: 50px;
}

.contact-social {
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 85px;
	padding-top: 20px;
}

.contact-social a {
	display: -ms-inline-flex;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 32px;
	height: 32px;
	background: #f0f0f0;
	color: #414141;
	font-size: 14px;
	border-radius: 50%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-right: 12px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.contact-social a:hover {
	color: #fff;
	background: #f51167;
}

.contact-form input,
.contact-form textarea {
	width: 100%;
	height: 44px;
	border: none;
	padding: 0 18px;
	background: #f0f0f0;
	border-radius: 40px;
	margin-bottom: 17px;
	font-size: 14px;
}

.contact-form textarea {
	padding-top: 16px;
	border-radius: 18px;
	height: 175px;
	margin-bottom: 32px;
}

.map {
	position: absolute;
	width: calc(50% - 15px);
	height: 100%;
	right: 0;
	top: 0;
	background: #ddd;
}

.map iframe {
	width: 100%;
	height: 100%;
}