/***************** product list css *******************/
/* line 3, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item {
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 7, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item .single_product_text {
  padding: 35px 0 0;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 11, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item .single_product_text h4 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 14px;
}

/* line 16, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item .single_product_text h3 {
  font-weight: 300;
  font-size: 18px;
}

/* line 20, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item .single_product_text a {
  color: #ff3368;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 30, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item .single_product_text a i {
  float: right;
  font-size: 18px;
  line-height: 26px;
  color: #000;
}

/* line 38, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item:hover {
  box-shadow: none;
}

/* line 40, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item:hover .single_product_text {
  padding: 32px 0 0;
}

/* line 44, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item:hover a {
  opacity: 1;
  visibility: visible;
}