/* Start Blog Area css
============================================================================================ */
/* line 5, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.latest-blog-area .area-heading {
  margin-bottom: 70px;
}

/* line 10, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.blog_area a {
  color: #666666 !important;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 14, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.blog_area a:hover, .blog_area a :hover {
  color: #ff3368;
}

/* line 20, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-blog {
  overflow: hidden;
  margin-bottom: 30px;
}

/* line 24, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-blog:hover {
  box-shadow: 0px 10px 20px 0px rgba(42, 34, 123, 0.1);
}

/* line 28, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-blog .thumb {
  overflow: hidden;
  position: relative;
}

/* line 32, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-blog .thumb:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 45, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-blog h4 {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 34px;
  margin-bottom: 25px;
}

/* line 52, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-blog a {
  font-size: 20px;
  font-weight: 600;
}

/* line 62, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-blog .date {
  color: #888;
  text-align: left;
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
}

/* line 70, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-blog .tag {
  text-align: left;
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  margin-right: 22px;
  position: relative;
}

/* line 80, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-blog .tag:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 10px;
  background: #acacac;
  right: -12px;
  top: 7px;
}

@media (max-width: 1199px) {
  /* line 70, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
  .single-blog .tag {
    margin-right: 8px;
  }
  /* line 94, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
  .single-blog .tag:after {
    display: none;
  }
}

/* line 100, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-blog .likes {
  margin-right: 16px;
}

@media (max-width: 800px) {
  /* line 20, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
  .single-blog {
    margin-bottom: 30px;
  }
}

/* line 108, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-blog .single-blog-content {
  padding: 30px;
}

/* line 112, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-blog .single-blog-content .meta-bottom p {
  font-size: 13px;
  font-weight: 300;
}

/* line 117, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-blog .single-blog-content .meta-bottom i {
  color: #edeff2;
  font-size: 13px;
  margin-right: 7px;
}

@media (max-width: 1199px) {
  /* line 108, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
  .single-blog .single-blog-content {
    padding: 15px;
  }
}

/* line 131, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.single-blog:hover .thumb:after {
  opacity: .7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1199px) {
  /* line 139, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
  .single-blog h4 {
    transition: all 300ms linear 0s;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 14px;
    margin-bottom: 12px;
  }
  /* line 145, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
  .single-blog h4 a {
    font-size: 18px;
  }
}

/* line 153, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.full_image.single-blog {
  position: relative;
}

/* line 156, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.full_image.single-blog .single-blog-content {
  position: absolute;
  left: 35px;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 992px) {
  /* line 156, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
  .full_image.single-blog .single-blog-content {
    bottom: 100px;
  }
}

/* line 175, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.full_image.single-blog h4 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: none;
  padding-bottom: 5px;
}

/* line 181, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.full_image.single-blog a {
  font-size: 20px;
  font-weight: 600;
}

/* line 191, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.full_image.single-blog .date {
  color: #fff;
}

/* line 196, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_blog.scss */
.full_image.single-blog:hover .single-blog-content {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* End Blog Area css