
/* ----------------
  Cart page
---------------------*/

.scrollbar {
	margin: 80px auto 0;
	width: 100%;
	height: 7px;
	line-height: 0;
	background: #ececec;
	overflow: hidden;
}

.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #fff;
	cursor: pointer;
}

.scrollbar .handle .mousearea {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 7px;
	background: #b09d81;
	border-radius: 30px;
}

.cart-table {
	padding: 40px 34px 0;
	background: #f0f0f0;
	border-radius: 27px;
	overflow: hidden;
}

.cart-table h3 {
	font-weight: 700;
	margin-bottom: 37px;
}

.cart-table table {
	width: 100%;
	min-width: 442px;
	margin-bottom: 17px;
}

.cart-table table tr th {
	font-size: 12px;
	font-weight: 400;
	color: #414141;
	text-align: center;
	padding-bottom: 25px;
}

.cart-table table tr th.product-th {
	text-align: left;
}

.cart-table table tr th.size-th {
	padding-right: 70px;
}

.cart-table table tr th.quy-th {
	padding-right: 20px;
}

.cart-table .product-col {
	display: table;
	margin-bottom: 19px;
}

.cart-table .product-col img {
	display: table-cell;
	vertical-align: middle;
	float: left;
	width: 73px;
}

.cart-table .product-col .pc-title {
	display: table-cell;
	vertical-align: middle;
	padding-left: 30px;
}

.cart-table .product-col .pc-title h4 {
	font-size: 16px;
	color: #414141;
	font-weight: 700;
	margin-bottom: 3px;
}

.cart-table .product-col .pc-title p {
	margin-bottom: 0;
	font-size: 16px;
	color: #414141;
}

.cart-table .quy-col {
	padding-right: 20px;
}

.cart-table .quantity {
	margin-bottom: 0;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.cart-table .quantity .pro-qty {
	width: 80px;
	background: #fff;
	border-color: #fff;
}

.cart-table .quantity .pro-qty .qtybtn {
	width: 10px;
}

.cart-table .size-col,
.cart-table .total-col {
	text-align: center;
}

.cart-table .size-col h4,
.cart-table .total-col h4 {
	font-size: 18px;
	color: #414141;
	font-weight: 400;
}

.cart-table .size-col h4 {
	padding-right: 70px;
}

.cart-table .total-cost {
	background: #f51167;
	margin: 0 -34px;
	text-align: right;
	padding: 22px 0;
	padding-right: 50px;
}

.cart-table .total-cost h6 {
	line-height: 1;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
}

.cart-table .total-cost h6 span {
	margin-left: 38px;
}

.card-right .site-btn {
	margin-bottom: 14px;
	width: 100%;
	min-height: 57px;
	padding: 23px 47px 14px;
}

.promo-code-form {
	position: relative;
	margin-bottom: 14px;
}

.promo-code-form input {
	width: 100%;
	height: 58px;
	border: 2px solid #f0f0f0;
	padding-left: 24px;
	padding-right: 100px;
	font-size: 16px;
	border-radius: 80px;
}

.promo-code-form button {
	position: absolute;
	right: 24px;
	top: 0;
	height: 100%;
	background-color: transparent;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	color: #f51167;
	cursor: pointer;
}