
/************** confirmation part css **********************/
/* line 3, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_confirmation_part.scss */
.confirmation_part .confirmation_tittle {
  text-align: center;
  margin-bottom: 35px;
}

/* line 6, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_confirmation_part.scss */
.confirmation_part .confirmation_tittle span {
  color: #ff3368;
}

/* line 11, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_confirmation_part.scss */
.confirmation_part .single_confirmation_details {
  background-color: #ecfdff;
  padding: 35px 40px;
}

@media (max-width: 991px) {
  /* line 11, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_confirmation_part.scss */
  .confirmation_part .single_confirmation_details {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 11, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_confirmation_part.scss */
  .confirmation_part .single_confirmation_details {
    margin-bottom: 30px;
  }
}

/* line 20, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_confirmation_part.scss */
.confirmation_part .single_confirmation_details h4 {
  font-size: 18px;
  font-weight: 500;
  color: #222222;
  text-transform: capitalize;
  margin-bottom: 16px;
}

/* line 28, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_confirmation_part.scss */
.confirmation_part .single_confirmation_details ul li {
  position: relative;
  text-transform: capitalize;
  padding-left: 55%;
  margin-bottom: 3px;
}

/* line 34, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_confirmation_part.scss */
.confirmation_part .single_confirmation_details ul li p {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 21px;
  color: #777777;
}

/* line 41, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_confirmation_part.scss */
.confirmation_part .single_confirmation_details ul li span {
  color: #222222;
}

/* line 47, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_confirmation_part.scss */
.confirmation_part .order_details_iner {
  margin-top: 50px;
  background-color: #ecfdff;
  padding: 30px 30px 15px;
  text-transform: capitalize;
}

/* line 52, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_confirmation_part.scss */
.confirmation_part .order_details_iner h3 {
  font-size: 18px;
}

/* line 55, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_confirmation_part.scss */
.confirmation_part .order_details_iner .table thead th {
  color: #222222;
  font-size: 16px;
}

/* line 59, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_confirmation_part.scss */
.confirmation_part .order_details_iner span {
  color: #777777;
}

/* line 62, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_confirmation_part.scss */
.confirmation_part .order_details_iner thead {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

/* line 66, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_confirmation_part.scss */
.confirmation_part .order_details_iner tfoot {
  border-top: 1px solid #dddddd;
}

/* line 69, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_confirmation_part.scss */
.confirmation_part .order_details_iner th {
  font-weight: 500;
}

/* line 75, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.sample-text-area {
  background: #fff;
  padding: 100px 0 70px 0;
}

/* line 80, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.text-heading {
  margin-bottom: 30px;
  font-size: 24px;
}

/* line 85, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
b,
sup,
sub,
u,
del {
  color: #ff3368;
}

/* line 93, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
h1 {
  font-size: 36px;
}

/* line 97, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
h2 {
  font-size: 30px;
}

/* line 101, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
h3 {
  font-size: 24px;
}

/* line 105, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
h4 {
  font-size: 18px;
}

/* line 109, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
h5 {
  font-size: 16px;
}

/* line 113, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
h6 {
  font-size: 14px;
}

/* line 117, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

/* line 127, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
  color: #828bb2;
}

/* line 137, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.button-area {
  background: #fff;
}

/* line 138, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.button-area .border-top-generic {
  padding: 70px 15px;
  border-top: 1px dotted #eee;
}

/* line 146, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.button-group-area .genric-btn {
  margin-right: 10px;
  margin-top: 10px;
}

/* line 149, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.button-group-area .genric-btn:last-child {
  margin-right: 0;
}

/* line 155, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn {
  display: inline-block;
  outline: none;
  line-height: 40px;
  padding: 0 30px;
  font-size: .8em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* line 166, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn:focus {
  outline: none;
}

/* line 169, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.e-large {
  padding: 0 40px;
  line-height: 50px;
}

/* line 173, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.large {
  line-height: 45px;
}

/* line 176, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.medium {
  line-height: 30px;
}

/* line 179, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.small {
  line-height: 25px;
}

/* line 182, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.radius {
  border-radius: 3px;
}

/* line 185, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.circle {
  border-radius: 20px;
}

/* line 188, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 195, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.arrow span {
  margin-left: 10px;
}

/* line 199, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.default {
  color: #415094;
  background: #f9f9ff;
  border: 1px solid transparent;
}

/* line 203, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.default:hover {
  border: 1px solid #f9f9ff;
  background: #fff;
}

/* line 208, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.default-border {
  border: 1px solid #f9f9ff;
  background: #fff;
}

/* line 211, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.default-border:hover {
  color: #415094;
  background: #f9f9ff;
  border: 1px solid transparent;
}

/* line 217, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.primary {
  color: #fff;
  background: #ff3368;
  border: 1px solid transparent;
}

/* line 221, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.primary:hover {
  color: #ff3368;
  border: 1px solid #ff3368;
  background: #fff;
}

/* line 227, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.primary-border {
  color: #ff3368;
  border: 1px solid #ff3368;
  background: #fff;
}

/* line 231, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.primary-border:hover {
  color: #fff;
  background: #ff3368;
  border: 1px solid transparent;
}

/* line 237, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.success {
  color: #fff;
  background: #4cd3e3;
  border: 1px solid transparent;
}

/* line 241, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.success:hover {
  color: #4cd3e3;
  border: 1px solid #4cd3e3;
  background: #fff;
}

/* line 247, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.success-border {
  color: #4cd3e3;
  border: 1px solid #4cd3e3;
  background: #fff;
}

/* line 251, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.success-border:hover {
  color: #fff;
  background: #4cd3e3;
  border: 1px solid transparent;
}

/* line 257, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.info {
  color: #fff;
  background: #38a4ff;
  border: 1px solid transparent;
}

/* line 261, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.info:hover {
  color: #38a4ff;
  border: 1px solid #38a4ff;
  background: #fff;
}

/* line 267, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.info-border {
  color: #38a4ff;
  border: 1px solid #38a4ff;
  background: #fff;
}

/* line 271, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.info-border:hover {
  color: #fff;
  background: #38a4ff;
  border: 1px solid transparent;
}

/* line 277, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.warning {
  color: #fff;
  background: #f4e700;
  border: 1px solid transparent;
}

/* line 281, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.warning:hover {
  color: #f4e700;
  border: 1px solid #f4e700;
  background: #fff;
}

/* line 287, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.warning-border {
  color: #f4e700;
  border: 1px solid #f4e700;
  background: #fff;
}

/* line 291, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.warning-border:hover {
  color: #fff;
  background: #f4e700;
  border: 1px solid transparent;
}

/* line 297, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.danger {
  color: #fff;
  background: #f44a40;
  border: 1px solid transparent;
}

/* line 301, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.danger:hover {
  color: #f44a40;
  border: 1px solid #f44a40;
  background: #fff;
}

/* line 307, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.danger-border {
  color: #f44a40;
  border: 1px solid #f44a40;
  background: #fff;
}

/* line 311, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.danger-border:hover {
  color: #fff;
  background: #f44a40;
  border: 1px solid transparent;
}

/* line 317, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.link {
  color: #415094;
  background: #f9f9ff;
  text-decoration: underline;
  border: 1px solid transparent;
}

/* line 322, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.link:hover {
  color: #415094;
  border: 1px solid #f9f9ff;
  background: #fff;
}

/* line 328, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.link-border {
  color: #415094;
  border: 1px solid #f9f9ff;
  background: #fff;
  text-decoration: underline;
}

/* line 333, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.link-border:hover {
  color: #415094;
  background: #f9f9ff;
  border: 1px solid transparent;
}

/* line 339, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.genric-btn.disable {
  color: #222222, 0.3;
  background: #f9f9ff;
  border: 1px solid transparent;
  cursor: not-allowed;
}

/* line 347, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.generic-blockquote {
  padding: 30px 50px 30px 30px;
  background: #f9f9ff;
  border-left: 2px solid #ff3368;
}

/* line 353, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table-wrap {
  overflow-x: scroll;
}

/* line 357, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table {
  background: #f9f9ff;
  padding: 15px 0px 30px 0px;
  min-width: 800px;
}

/* line 361, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table .serial {
  width: 11.83%;
  padding-left: 30px;
}

/* line 365, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table .country {
  width: 28.07%;
}

/* line 368, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table .visit {
  width: 19.74%;
}

/* line 371, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table .percentage {
  width: 40.36%;
  padding-right: 50px;
}

/* line 375, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table .table-head {
  display: flex;
}

/* line 377, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table .table-head .serial,
.progress-table .table-head .country,
.progress-table .table-head .visit,
.progress-table .table-head .percentage {
  color: #415094;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 500;
}

/* line 387, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table .table-row {
  padding: 15px 0;
  border-top: 1px solid #edf3fd;
  display: flex;
}

/* line 391, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table .table-row .serial,
.progress-table .table-row .country,
.progress-table .table-row .visit,
.progress-table .table-row .percentage {
  display: flex;
  align-items: center;
}

/* line 399, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table .table-row .country img {
  margin-right: 15px;
}

/* line 404, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table .table-row .percentage .progress {
  width: 80%;
  border-radius: 0px;
  background: transparent;
}

/* line 408, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar {
  height: 5px;
  line-height: 5px;
}

/* line 411, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-1 {
  background-color: #6382e6;
}

/* line 414, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-2 {
  background-color: #e66686;
}

/* line 417, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-3 {
  background-color: #f09359;
}

/* line 420, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-4 {
  background-color: #73fbaf;
}

/* line 423, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-5 {
  background-color: #73fbaf;
}

/* line 426, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-6 {
  background-color: #6382e6;
}

/* line 429, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-7 {
  background-color: #a367e7;
}

/* line 432, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-8 {
  background-color: #e66686;
}

/* line 441, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.single-gallery-image {
  margin-top: 30px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 200px;
}

/* line 449, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.list-style {
  width: 14px;
  height: 14px;
}

/* line 455, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important;
}

/* line 459, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.unordered-list li:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #ff3368;
  background: #fff;
  top: 4px;
  left: 0;
  border-radius: 50%;
}

/* line 473, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.ordered-list {
  margin-left: 30px;
}

/* line 475, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.ordered-list li {
  list-style-type: decimal-leading-zero;
  color: #ff3368;
  font-weight: 500;
  line-height: 1.82em !important;
}

/* line 480, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.ordered-list li span {
  font-weight: 300;
  color: #828bb2;
}

/* line 488, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #ff3368;
  font-weight: 500;
  line-height: 1.82em !important;
}

/* line 494, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.ordered-list-alpha li span {
  font-weight: 300;
  color: #828bb2;
}

/* line 502, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #ff3368;
  font-weight: 500;
  line-height: 1.82em !important;
}

/* line 508, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.ordered-list-roman li span {
  font-weight: 300;
  color: #828bb2;
}

/* line 515, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

/* line 523, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.single-input:focus {
  outline: none;
}

/* line 528, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.input-group-icon {
  position: relative;
}

/* line 530, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.input-group-icon .icon {
  position: absolute;
  left: 20px;
  top: 0;
  line-height: 40px;
  z-index: 3;
}

/* line 535, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.input-group-icon .icon i {
  color: #797979;
}

/* line 540, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.input-group-icon .single-input {
  padding-left: 45px;
}

/* line 545, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.single-textarea {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
  height: 100px;
  resize: none;
}

/* line 555, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.single-textarea:focus {
  outline: none;
}

/* line 560, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.single-input-primary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

/* line 568, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.single-input-primary:focus {
  outline: none;
  border: 1px solid #ff3368;
}

/* line 574, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.single-input-accent {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

/* line 582, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.single-input-accent:focus {
  outline: none;
  border: 1px solid #eb6b55;
}

/* line 588, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.single-input-secondary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

/* line 596, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.single-input-secondary:focus {
  outline: none;
  border: 1px solid #f09359;
}

/* line 602, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.default-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

/* line 609, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.default-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* line 619, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.default-switch input + label {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ff3368;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* line 632, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.default-switch input:checked + label {
  left: 19px;
}

/* line 639, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.primary-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

/* line 646, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.primary-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 655, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.primary-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* line 663, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.primary-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 677, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.primary-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* line 693, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.primary-switch input:checked + label:after {
  left: 19px;
}

/* line 696, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.primary-switch input:checked + label:before {
  background: #ff3368;
}

/* line 704, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.confirm-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

/* line 711, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.confirm-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 720, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.confirm-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* line 728, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.confirm-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

/* line 742, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.confirm-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* line 758, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.confirm-switch input:checked + label:after {
  left: 19px;
}

/* line 761, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.confirm-switch input:checked + label:before {
  background: #4cd3e3;
}

/* line 769, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.primary-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

/* line 776, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.primary-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 785, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.primary-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

/* line 798, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.primary-checkbox input:checked + label {
  background: url(../img/elements/primary-check.png) no-repeat center center/cover;
  border: none;
}

/* line 806, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.confirm-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

/* line 813, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.confirm-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 822, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.confirm-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

/* line 835, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.confirm-checkbox input:checked + label {
  background: url(../img/elements/success-check.png) no-repeat center center/cover;
  border: none;
}

/* line 843, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.disabled-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

/* line 850, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.disabled-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 859, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.disabled-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

/* line 871, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.disabled-checkbox input:disabled {
  cursor: not-allowed;
  z-index: 3;
}

/* line 876, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.disabled-checkbox input:checked + label {
  background: url(../img/elements/disabled-check.png) no-repeat center center/cover;
  border: none;
}

/* line 884, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.primary-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

/* line 891, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.primary-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 900, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.primary-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

/* line 913, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.primary-radio input:checked + label {
  background: url(../img/elements/primary-radio.png) no-repeat center center/cover;
  border: none;
}

/* line 921, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.confirm-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

/* line 928, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.confirm-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 937, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.confirm-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

/* line 950, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.confirm-radio input:checked + label {
  background: url(../img/elements/success-radio.png) no-repeat center center/cover;
  border: none;
}

/* line 958, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.disabled-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

/* line 965, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.disabled-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 974, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.disabled-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

/* line 986, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.disabled-radio input:disabled {
  cursor: not-allowed;
  z-index: 3;
}

/* line 991, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.disabled-radio input:checked + label {
  background: url(../img/elements/disabled-radio.png) no-repeat center center/cover;
  border: none;
}

/* line 999, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.default-select {
  height: 40px;
}

/* line 1001, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.default-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #f9f9ff;
  padding-left: 20px;
  padding-right: 40px;
}

/* line 1008, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.default-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px;
}

/* line 1015, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.default-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 20px;
}

/* line 1022, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.default-select .nice-select .list .option.selected {
  color: #ff3368;
  background: transparent;
}

/* line 1026, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.default-select .nice-select .list .option:hover {
  color: #ff3368;
  background: transparent;
}

/* line 1033, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.default-select .current {
  margin-right: 50px;
  font-weight: 300;
}

/* line 1037, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.default-select .nice-select::after {
  right: 20px;
}

/* line 1042, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.form-select {
  height: 40px;
  width: 100%;
}

/* line 1045, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.form-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #f9f9ff;
  padding-left: 45px;
  padding-right: 40px;
  width: 100%;
}

/* line 1053, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.form-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px;
}

/* line 1060, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.form-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 45px;
}

/* line 1067, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.form-select .nice-select .list .option.selected {
  color: #ff3368;
  background: transparent;
}

/* line 1071, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.form-select .nice-select .list .option:hover {
  color: #ff3368;
  background: transparent;
}

/* line 1078, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.form-select .current {
  margin-right: 50px;
  font-weight: 300;
}

/* line 1082, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.form-select .nice-select::after {
  right: 20px;
}

/* line 1086, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.mt-10 {
  margin-top: 10px;
}

/* line 1089, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.section-top-border {
  padding: 50px 0;
  border-top: 1px dotted #eee;
}

/* line 1093, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.mb-30 {
  margin-bottom: 30px;
}

/* line 1096, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.mt-30 {
  margin-top: 30px;
}

/* line 1099, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.switch-wrap {
  margin-bottom: 10px;
}