/*=========================================================
	FOOTER
===========================================================*/

#footer {
  margin-top: 40px;
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #1b1c1e;
}

#footer {
  color: #97989b;
}

#footer a {
  color: #97989b;
}

#footer a:hover, #footer a:focus {
  color: #ee4266;
}

.footer-widget {
  margin-bottom: 30px;
}

.footer-widget .footer-title {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo .logo {
  display: inline-block;
  line-height: 70px;
  height: 70px;
}

.footer-bottom {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #323335;
}

.footer-nav {
  text-align: right;
}

.footer-nav li {
  display: inline-block;
  margin-right: 10px;
}

/*----------------------------*\
	CONTACT
\*----------------------------*/

.contact li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 55px;
  padding-top: 5px;
  min-height: 40px;
}

.contact li i {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  text-align: center;
  height: 40px;
  background: #fff;
  color: #ee4266;
  border: 1px solid #e8eaed;
  line-height: 40px;
  border-radius: 50%;
}

.footer-widget .contact li i {
  color: #97989b;
  background-color: #353535;
  border: none;
}

.contact-social li {
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 6px;
}

.contact-social li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
  color: #fff !important;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.contact-social li a:hover {
  opacity: 0.9;
}
