/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.hero-slider .slider-nav-warp {
		max-width: 510px;
		padding: 0 15px;
	}
	.hero-slider .hs-item h2 {
		font-size: 35px;
	}
	.hero-slider .hs-item .sb-line {
		margin-bottom: 15px;
	}
	.section-title h2 {
		font-size: 28px;
	}
	.feature h2 {
		font-size: 18px;
	}
	.banner .tag-new {
		position: relative;
		display: inline-block;
		margin-bottom: 18px;
		right: 0;
		top: 0;
	}
	.social-links {
		text-align: center;
	}
	.social-links a i {
		font-size: 20px;
		margin-right: 0;
	}
	.social-links a span {
		display: none;
	}
}