/*************** subscribe now **********************/
/* line 2, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_subscribe_area.scss */
.subscribe_area {
  background-image: url("../img/subscribe_area.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 4, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_subscribe_area.scss */
.subscribe_area h5 {
  font-size: 14px;
  font-weight: 400;
  color: #ff3368;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 11, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_subscribe_area.scss */
.subscribe_area h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin: 35px 0 67px;
}

@media (max-width: 991px) {
  /* line 11, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_subscribe_area.scss */
  .subscribe_area h2 {
    font-size: 30px;
    line-height: 35px;
    margin: 15px 0 30px;
  }
}

/* line 26, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_subscribe_area.scss */
.subscribe_area .input-group input {
  height: 60px;
  padding-left: 25px;
  border: 0px solid transparent;
  background-color: #fff;
}

/* line 31, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_subscribe_area.scss */
.subscribe_area .input-group input::placeholder {
  text-transform: capitalize;
}

/* line 35, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_subscribe_area.scss */
.subscribe_area .input-group .input-group-text {
  height: 60px;
  width: auto;
  line-height: 60px;
  padding: 0px 45px;
  border: 0px solid transparent;
  background-color: #ff3368;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 10px;
}

@media (max-width: 576px) {
  /* line 51, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_subscribe_area.scss */
  .subscribe_area .input-group > .custom-file, .subscribe_area .input-group > .custom-select, .subscribe_area .input-group > .form-control, .subscribe_area .input-group > .form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    margin-bottom: 0;
  }
  /* line 58, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_subscribe_area.scss */
  .subscribe_area .input-group {
    text-align: center;
    justify-content: center;
  }
  /* line 62, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_subscribe_area.scss */
  .subscribe_area .input-group-text {
    margin-top: 30px;
    text-align: center;
    margin-left: 0;
  }
}