
/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.site-logo {
		margin-bottom: 20px;
	}
	.header-search-form {
		margin-bottom: 15px;
	}
	.user-panel {
		text-align: center;
	}
	.main-menu {
		text-align: center;
	}
	.sub-menu {
		text-align: left;
	}
	.main-menu li a {
		margin-right: 30px;
	}
	.hero-slider .slider-nav-warp {
		max-width: 690px;
	}
	.hero-slider .hs-item .offer-card {
		top: 20px;
	}
	.feature h2 {
		font-size: 18px;
	}
	.product-filter-menu {
		text-align: center;
	}
	.product-filter-menu li {
		margin: 0 5px 10px;
	}
	.social-links {
		text-align: center;
	}
	.social-links a {
		margin-right: 20px;
	}
	.social-links a span {
		display: none;
	}
	.cart-table,
	.checkout-cart,
	.product-thumbs {
		margin-bottom: 50px;
	}
	.map {
		position: relative;
		width: 100%;
		background: #ddd;
		height: 400px;
		margin-top: 70px;
	}
}
