/*============================================
    # Discount shortcode
=============================================*/

.sale-entry {
            overflow: hidden;
            border: 2px #f2f2f2 solid;
            min-height: 70px;
            padding: 10px 0 10px 0;
            position: relative;
            display: block;
        }
        .sale-entry .sale-price {
            font-size: 16px;
            line-height: 24px;
            color: #2e2e2e;
            text-transform: uppercase;
            font-weight: 700;
            width: 190px;
            text-align: center;
            border-right: 1px #f2f2f2 solid;
            float: left;
            display: block;
            position: relative;
            z-index: 1;
        }
        .sale-entry .sale-price span {
            display: block;
            font-size: 48px;
            line-height: 48px;
            color: #32c8de;
        }
        .sale-entry .sale-price img {
            padding: 15px 0;
        }
        .sale-entry .sale-description {
            font-size: 13px;
            line-height: 22px;
            color: #a3a2a2;
            margin: 0 40px 15px 230px;
            padding: 2px 0;
            display: block;
            position: relative;
            z-index: 1;
        }
        .sale-entry .sale-title {
            font-size: 18px;
            line-height: 24px;
            text-transform: uppercase;
            font-weight: 700;
            color: #a3a2a2;
            margin: 0 0 10px 230px;
        }
        .hot-mark {
            position: absolute;
            top: 5px;
            right: -15px;
            font-size: 11px;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            background: #ca1515;
            line-height: 18px;
            width: 60px;
            text-align: center;
            transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
        }
        .hot-mark.blue {
            background: #03b4ea;
        }
        .hot-mark.yellow {
            background: #dec209;
        }
        a.sale-entry:before {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            content: "";
            z-index: 1;
        }
        a.sale-entry .hot-mark {
            z-index: 2;
        }
        .sale-entry-border {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .sale-entry-border:hover {
            background: #4c4c4c!important;
        }
        .sale-entry-border:before {
            border: 1px solid rgba(255,255,255,0.5);
            content: "";
            position: absolute;
            left: 15px;
            top: 15px;
            right: 15px;
            bottom: 15px;
        }
        .sale-entry-border:hover:before {
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
        }
        .sale-entry-border * {
            position: relative;
        }
        .sale-entry-border .sale-title {
            color: #fff;
        }
        .sale-entry-border .sale-description {
            color: rgba(255,255,255,0.5);
        }
        .sale-entry-border .sale-price {
            border-color: rgba(255,255,255,0.5);
        }
        @media (max-width:991px) {
            .sale-entry {
                padding: 25px 0;
            }
            .sale-entry .sale-title {
                text-align: center;
                margin-left: auto;
            }
            .sale-entry .sale-price {
                width: auto;
                float: none;
                margin: 0 30px 10px 30px;
                border: none;
                border-bottom: 1px #f2f2f2 solid;
                padding-bottom: 10px;
            }
            .sale-entry .sale-description {
                width: auto;
                float: none;
                margin: 0 10px 10px 10px;
                text-align: center;
            }
        }
        
        /*============================================
            # sidebar category menu
        ==============================================*/
        
        .sidebar-navigation {
            border: 2px #323a45 solid;
            /*margin-bottom: 25px;*/
        }
        .sidebar-navigation .title {
            background: #323a45;
            padding: 20px 25px;
            line-height: 15px;
            color: #fff;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 700;
            margin-top: -2px;
            position: relative;
        }
        .sidebar-navigation .title .fa {
            display: none;
        }
        .sidebar-navigation .entry {
            cursor: pointer;
            border-bottom: 1px #ebebeb solid;
            display: block;
            font-weight: 500;
            font-size: 13px;
            line-height: 15px;
            color: #2e2e2e;
            padding: 17px 25px;
            position: relative;
        }
        body.mobile .sidebar-navigation .entry {
            color: #2e2e2e!important;
        }
        body.mobile .sidebar-navigation .entry:before {
            display: none;
        }
        .sidebar-navigation .entry:last-child {
            border: none;
        }
        .sidebar-navigation .entry:before {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0;
            background: #03b4ea;
            content: "";
            opacity: 0;
        }
        .sidebar-navigation .entry span {
            position: relative;
        }
        .sidebar-navigation .entry:hover:before, .sidebar-navigation .entry.active:before {
            height: 100%;
            opacity: 1;
        }
        .sidebar-navigation .entry:hover, .sidebar-navigation .entry.active {
            color: #fff;
        }
        body:not(.mobile) #content-block .sidebar-navigation .entry:hover .fa {
            color: #fff;
        }
        .sidebar-navigation .entry .fa {
            color: #ca1515;
            display: inline-block;
            margin-right: 10px;
            position: relative;
            top: -1px;
        }
        .sidebar-navigation .list {
            display: none;
        }
        @media (min-width:992px) {
            .sidebar-navigation .list {
                display: block!important;
            }
        }
        @media (max-width:991px) {
            .sidebar-navigation {
                margin-bottom: 25px!important;
            }
            .sidebar-navigation .title {
                padding-right: 55px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                cursor: pointer;
            }
            .sidebar-navigation .title .fa {
                display: block;
                position: absolute;
                width: 55px;
                height: 55px;
                line-height: 55px;
                text-align: center;
                right: 0;
                top: 0;
                font-size: 22px;
            }
            .sidebar-navigation.active .title .fa {
                transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
            }
        }
        