
/*=========================================================
	GENERAL
===========================================================*/

/*----------------------------*\
	typography
\*----------------------------*/

body {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  color: #505050;
  font-weight: 400;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #11151c;
  font-weight: 700;
  margin: 0px 0px 15px;
}

h1 {
  font-size: 32.437px;
}

h2 {
  font-size: 25.629px;
}

h3 {
  font-size: 20.25px;
}

h4 {
  font-size: 16px;
}


p {
  margin: 0px 0px 20px;
}

a {
  color: #11151c;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

a:hover, a:focus {
  color: #ee4266;
  text-decoration: none;
  outline: none;
}

::-moz-selection {
  background-color: #ee4266;
  color: #FFF;
}

::selection {
  background-color: #ee4266;
  color: #FFF;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none
}

ul.list-style, ol.list-style {
  padding-left: 15px;
  margin-bottom: 10px;
}

ul.list-style {
  list-style-type: disc;
}

ol.list-style {
  list-style-type: decimal;
}

blockquote.blockquote {
  padding: 30px;
  margin: 0px 0px 20px;
  border: 2px solid #e8eaed;
}

blockquote.blockquote:before {
  content: "\f10d";
  font-family: fontAwesome;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
  color: #ee4266;
  font-size: 30px;
  background: #fff;
  border: 2px solid #e8eaed;
  float: left;
  margin-right: 10px;
}

blockquote.blockquote .blockquote-footer {
  color: #97989b;
}

figure {
  margin-bottom: 20px;
}

figure>img {
  width: 100%;
}

figure.pull-right {
  margin-left: 15px;
}

figure.pull-left {
  margin-right: 15px;
}

figure>figcaption {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  font-style: italic;
  color: #97989b;
}

/*----------------------------*\
	section
\*----------------------------*/

.section {
  padding-top: 30px;
}

.section-row {
  margin-bottom: 30px;
}

.section-title {
  position: relative;
  margin-bottom: 20px;
}

.section-title .title {
  position: relative;
  display: inline-block;
  background-color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 10px;
  z-index: 20;
}

.section-title:after {
  content: "";
  display: inline-block;
  height: 2px;
  background-color: #e8eaed;
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  z-index: 10;
}

/*----------------------------*\
	input
\*----------------------------*/

.input {
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  background-color: #fff;
  border-radius: 2px;
  border: 2px solid #e8eaed;
}

textarea.input {
  padding: 15px;
  height: 90px;
}

/*----------------------------*\
	button
\*----------------------------*/

.primary-button, .secondary-button {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 2px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.primary-button {
  background-color: #ee4266;
  color: #fff;
  -webkit-box-shadow: 0px 0px 0px 2px #ee4266 inset;
  box-shadow: 0px 0px 0px 2px #ee4266 inset;
}

.secondary-button {
  background-color: #353535;
  color: #fff;
  -webkit-box-shadow: 0px 0px 0px 2px #353535 inset;
  box-shadow: 0px 0px 0px 2px #353535 inset;
}

.primary-button:hover, .primary-button:focus {
  background-color: transparent;
  color: #ee4266;
}

.secondary-button:hover, .secondary-button:focus {
  background-color: transparent;
  color: #353535;
}

/*----------------------------*\
	social colors
\*----------------------------*/

.social-facebook {
  background: #225b99 !important;
}

.social-twitter {
  background: #00adf2 !important;
}

.social-google-plus {
  background: #dc4d2d !important;
}

.social-pinterest {
  background: #cc2127 !important;
}

.social-instagram {
  background: #d341b2 !important;
}