body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
::selection {
    background-color: #ee4266;
    color: #FFF;
}
(min-width: 992px)
.padding_top {
    padding-top: 100px;
}
.login_part .login_part_text {
    background-image: -moz-linear-gradient(16deg, #ff005a 0%, #ff5d2d 64%, #ffba00 100%);
    background-image: -webkit-linear-gradient(16deg, #ff005a 0%, #ff5d2d 64%, #ffba00 100%);
    background-image: -ms-linear-gradient(16deg, #ff005a 0%, #ff5d2d 64%, #ffba00 100%);
    background-size: 200% auto;
}
@media only screen and (max-width: 1200px) and (min-width: 992px)
.login_part .login_part_text, .login_part .login_part_form {
    padding: 20px;
    height: 400px;
}
.login_part .login_part_text, .login_part .login_part_form {
  
    height: 600px;
    display: table;
}
.login_part .login_part_text .login_part_text_iner, .login_part .login_part_text .login_part_form_iner, .login_part .login_part_form .login_part_text_iner, .login_part .login_part_form .login_part_form_iner {
    display: table-cell;
    vertical-align: middle;
}

