/*=========================================================
	NAVIGATION
===========================================================*/

#nav {
  border-bottom: 1px solid #e8eaed;
}

#nav:after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

#nav.shadow-active:after {
  opacity: 1;
  visibility: visible;
}

#nav-top {
  text-align: center;
}

#nav-top>.container {
  position: relative;
}

#nav-bottom {
  border-top: 1px solid #e8eaed;
}

/*----------------------------*\
	social
\*----------------------------*/

.nav-social {
  float: left;
  padding: 10px 0px;
}

.nav-social li {
  display: inline-block;
}

.nav-social li a {
  display: block;
  padding: 15px;
  line-height: 20px;
}

/*----------------------------*\
	logo
\*----------------------------*/

.nav-logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.nav-logo .logo {
  display: inline-block;
  line-height: 70px;
  height: 70px;
}

.nav-logo .logo>img {
  width: 100%;
  max-height: 70px;
}

/*----------------------------*\
	search
\*----------------------------*/

.nav-btns {
  float: right;
  padding: 10px 0px;
}

.nav-btns>button {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: none;
  background: transparent;
}

#nav-search {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 10px);
  -ms-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
  opacity: 0;
  visibility: hidden;
  max-width: 960px;
  width: 100%;
  padding: 60px 5%;
  background: #1b1c1e;
  z-index: 999;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

#nav-search.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

#nav-search form .input {
  height: 80px;
  background: transparent;
  border: 2px solid #323335;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding: 15px 25px;
}

/*----------------------------*\
	menu
\*----------------------------*/

.nav-menu {
  position: relative;
  text-align: center;
  float: none;
}

.nav-menu>li {
  float: none;
  display: inline-block;
}

.nav-menu>li>a {
  display: block;
  padding: 25px 15px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

/*----------------------------*\
	dropdown
\*----------------------------*/

.nav-menu li.has-dropdown {
  position: relative;
}

.nav-menu li.has-dropdown>a:after {
  font-family: 'FontAwesome';
  content: "\f0d7";
  margin-left: 5px;
}

.nav-menu li.has-dropdown>.dropdown {
  position: absolute;
  left: 0;
  width: 200px;
  text-align: left;
  z-index: 60;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.nav-menu li.has-dropdown:hover>.dropdown {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.nav-menu li.has-dropdown>.dropdown .dropdown-body {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-top: 2px solid #ee4266;
}

.dropdown .dropdown-list li {
  border-bottom: 1px solid #e8eaed;
}

.dropdown .dropdown-list li a {
  display: block;
  padding: 10px;
  line-height: 20px;
}

.dropdown .dropdown-heading {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 10px;
  line-height: 30px;
}

/*----------------------------*\
	mega dropdown
\*----------------------------*/

.nav-menu li.has-dropdown.megamenu {
  position: static;
}

.nav-menu li.has-dropdown.megamenu>.dropdown {
  width: 100%;
}

.nav-menu li.has-dropdown.megamenu>.dropdown .dropdown-body {
  padding: 30px;
}

.nav-menu li.has-dropdown.megamenu>.dropdown .dropdown-list {
  margin-bottom: 30px;
}

.nav-menu li.has-dropdown.megamenu>.dropdown .dropdown-list li a {
  padding-left: 0px;
  padding-right: 0px;
}

/*----------------------------*\
	tab dropdown
\*----------------------------*/

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-content {
  z-index: 70;
  position: relative;
  margin-left: -30px;
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav {
  background-color: #1b1c1e;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 60;
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav li {
  border-bottom: 1px solid #323335;
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav li a {
  display: block;
  padding: 15px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav li.active {
  background: #ee4266
}

.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav li.active a {
  color: #fff;
}

/*----------------------------*\
	nav aside
\*----------------------------*/

#nav-aside {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #1b1c1e;
  max-width: 360px;
  width: 100%;
  padding: 80px 20px;
  overflow-y: scroll;
  z-index: 99;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.4s all cubic-bezier(.77, 0, .18, 1);
  transition: 0.4s all cubic-bezier(.77, 0, .18, 1);
}

#nav-aside.active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.nav-aside-menu li a {
  display: block;
  padding: 15px 0px;
  color: #fff;
  border-bottom: 1px solid #323335;
}

.nav-aside-menu li a:hover, .nav-aside-menu li a:focus {
  color: #ee4266;
}

.nav-aside-menu li.has-dropdown>a {
  cursor: pointer;
}

.nav-aside-menu li.has-dropdown>a:after {
  font-family: 'FontAwesome';
  content: "\f0d7";
  float: right;
}

.nav-aside-menu li.has-dropdown>.dropdown {
  display: none;
  margin-left: 30px;
  border-left: 1px solid #323335;
}

.nav-aside-menu li.has-dropdown.active>.dropdown {
  display: block;
}

.nav-aside-menu li.has-dropdown>.dropdown a {
  padding: 15px;
}

.nav-close {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.nav-close span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.nav-close span:before, .nav-close span:after {
  content: "";
  display: block;
  width: 30px;
  background-color: #fff;
  height: 2px;
}

.nav-close span:before {
  -webkit-transform: translateY(0px) rotate(-135deg);
  -ms-transform: translateY(0px) rotate(-135deg);
  transform: translateY(0px) rotate(-135deg);
}

.nav-close span:after {
  -webkit-transform: translateY(-2px) rotate(135deg);
  -ms-transform: translateY(-2px) rotate(135deg);
  transform: translateY(-2px) rotate(135deg);
}
