/* Product Sidebar Area css
============================================================================================ */
/* line 168, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cat_product_area .latest_product_inner {
  padding-top: 30px;
}

/* line 171, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cat_product_area .latest_product_inner .single-product {
  margin-bottom: 50px;
}

/* line 180, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.left_sidebar_area .widgets_inner ul li {
  display: flex;
  justify-content: space-between;
}

/* line 184, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.left_sidebar_area .widgets_inner ul li:hover {
  color: #ff3368;
}

/* line 185, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.left_sidebar_area .widgets_inner ul li:hover a {
  color: #ff3368;
}

/* line 196, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.left_widgets {
  margin-bottom: 30px;
}

/* line 199, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.left_widgets:last-child {
  margin-bottom: 0px;
}

/* line 204, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.widgets_inner {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 15px;
}

@media (max-width: 991px) {
  /* line 204, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .widgets_inner {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 218, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.l_w_title {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 991px) {
  /* line 218, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .l_w_title {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 228, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.l_w_title h3 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
  color: #2a2a2a;
  font-weight: 500;
  line-height: 40px;
  position: relative;
}

/* line 240, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.p_filter_widgets .widgets_inner {
  border-bottom: 1px solid #eeeeee;
}

/* line 243, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.p_filter_widgets .widgets_inner:last-child {
  border-bottom: 0px;
}

/* line 248, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.p_filter_widgets .list {
  border-top: 1px solid #ddd;
  padding-top: 25px;
  margin-top: 25px;
}

/* line 253, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.p_filter_widgets .list:first-child {
  padding-top: 0;
  margin-top: 0;
  border-top: 0px solid transparent;
}

/* line 259, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.p_filter_widgets .list li {
  margin-bottom: 18px;
}

/* line 262, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.p_filter_widgets .list li a {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #797979;
  position: relative;
}

/* line 273, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.p_filter_widgets .list li.active a:before, .p_filter_widgets .list li:hover a:before {
  background: #ff3368;
  border-color: #ff3368;
}

/* line 280, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.p_filter_widgets .list li:last-child {
  margin-bottom: 0px;
}

/* line 287, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar {
  clear: both;
  display: flex;
  padding: 10px 0;
}

@media (max-width: 576px) {
  /* line 287, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .product_top_bar {
    display: block !important;
  }
}

/* line 305, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .sorting {
  display: inline-block;
  clear: none;
  border: 1px solid #eeeeee;
  border-radius: 0px;
  height: 40px;
  width: 210px;
  padding-left: 20px;
}

/* line 314, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .sorting span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #555555;
}

/* line 320, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .sorting .list {
  width: 100%;
  border-radius: 0px;
}

/* line 324, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .sorting .list li {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #555555;
}

/* line 331, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .sorting:after {
  content: "\f0d7";
  font: normal normal normal 14px/1 FontAwesome;
  transform: rotate(0);
  border: none;
  color: #555555;
  margin-top: -6px;
  right: 20px;
}

/* line 342, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .show {
  clear: none;
  display: inline-block;
  clear: none;
  border: 1px solid #eeeeee;
  border-radius: 0px;
  height: 40px;
  width: 120px;
  padding-left: 20px;
  margin-left: 10px;
}

/* line 353, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .show span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #555555;
}

/* line 359, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .show .list {
  width: 100%;
  border-radius: 0px;
}

/* line 363, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .show .list li {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #555555;
}

/* line 370, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .left_dorp .show:after {
  content: "\f0d7";
  font: normal normal normal 14px/1 FontAwesome;
  transform: rotate(0);
  border: none;
  color: #555555;
  margin-top: -6px;
  right: 20px;
}

@media (max-width: 576px) {
  /* line 382, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .product_top_bar .single_product_menu {
    width: 50%;
    float: left;
    margin-bottom: 20px;
  }
}

/* line 397, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu p {
  color: #020202;
  font-weight: 500;
}

@media (max-width: 576px) {
  /* line 397, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .product_top_bar .single_product_menu p {
    font-size: 13px;
    line-height: 13px;
  }
}

/* line 413, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu p span {
  color: #ff3368;
}

/* line 418, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu h5 {
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0;
}

/* line 425, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .nice-select {
  height: 0;
  border: 0px;
  line-height: 15px;
  font-weight: 300;
  text-transform: capitalize;
}

/* line 432, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .nice-select:after {
  margin-top: 0;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  right: 0px;
}

/* line 440, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .top_pageniation {
  line-height: 15px;
}

/* line 443, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .top_pageniation ul {
  margin-left: 20px;
}

/* line 446, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .top_pageniation ul li {
  display: inline-block;
  margin-left: 10px;
}

/* line 454, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .input-group {
  width: 150px;
}

/* line 457, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .input-group .form-control {
  border: 0px solid transparent;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  text-align: center;
  text-transform: capitalize;
}

/* line 465, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .input-group .input-group-text {
  background-color: transparent;
  border: 0px solid transparent;
  border-bottom: 1px solid #ddd;
}

/* line 474, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.most_p_withoutbox {
  padding-bottom: 120px;
}

/* line 478, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.price_value input {
  border: 0px;
  text-align: center;
  max-width: 30px;
}

/* line 485, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.price_value span {
  margin: 5px 5px 0;
}

/* line 490, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.irs-to,
.irs-from,
.irs-max,
.irs-min {
  display: none;
}

/* line 499, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.price_rangs_aside .l_w_title h3 {
  line-height: 20px;
  margin-bottom: 0px;
}

/* line 506, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.irs-bar {
  height: 6px;
  top: 33px;
  border-top: 1px solid #ff3368;
  border-bottom: 1px solid #ff3368;
  background: #ff3368;
  background: linear-gradient(to top, #ff3368 0%, #ff3368 100%);
}

/* line 515, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.irs-line {
  height: 6px;
  top: 33px;
  background: #e8eff1;
  background: linear-gradient(to bottom, #e8eff1 -50%, #e8eff1 150%);
  border: 1px solid #e8eff1;
  border-radius: 16px;
  -moz-border-radius: 16px;
}

/* line 525, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.irs-slider {
  height: 15px;
  width: 15px;
  border: 1px solid #ff3368;
  background-color: #ff3368;
  background: linear-gradient(to bottom, #ff3368 0%, #ff3368 20%, #ff3368 100%);
  top: 28px;
  box-shadow: none;
}

/* End Product Sidebar Area css