/*=========================================================
	RESPONSIVE
===========================================================*/

@media only screen and (max-width: 991px) {
  #nav-bottom {
    display: none;
  }
  .nav-social {
    display: none;
  }
  .nav-logo {
    position: static;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    left: 0;
    display: inline-block;
  
  }
  .footer-nav {
    text-align: left;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .page-header h1 {
    font-size: 32.437px;
  }
  .post-nav .prev-post {
    float: none;
    width: 100%;
    margin-bottom: 15px;
    padding-right: 0px;
  }
  .post-nav .prev-post:last-child {
    margin-bottom: 0px;
  }
  .post-nav .next-post {
    float: none;
    width: 100%;
  }
  .post-nav .next-post {
    float: none;
    width: 100%;
    padding-left: 0px;
    text-align: left;
  }
  .post-nav .next-post .post-img {
    margin-right: 15px;
    float: left;
    margin-left: 0px;
  }
}