/* Tracking Form Area css
============================================================================================ */
/* line 1761, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.tracking_box_area .tracking_box_inner p {
  max-width: 870px;
  color: #2a2a2a;
  margin-bottom: 25px;
}

/* line 1767, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.tracking_box_area .tracking_box_inner .tracking_form {
  max-width: 645px;
}

/* line 1770, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.tracking_box_area .tracking_box_inner .tracking_form .form-group {
  margin-bottom: 30px;
}

/* line 1772, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.tracking_box_area .tracking_box_inner .tracking_form .form-group input {
  height: 40px;
  border: 1px solid #eee;
  padding: 0px 15px;
  outline: none;
  box-shadow: none;
  border-radius: 0px;
  font-size: 14px;
  color: #797979;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

/* line 65, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_mixins.scss */
.tracking_box_area .tracking_box_inner .tracking_form .form-group input.placeholder {
  font-size: 14px;
  color: #797979;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

/* line 68, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_mixins.scss */
.tracking_box_area .tracking_box_inner .tracking_form .form-group input:-moz-placeholder {
  font-size: 14px;
  color: #797979;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

/* line 71, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_mixins.scss */
.tracking_box_area .tracking_box_inner .tracking_form .form-group input::-moz-placeholder {
  font-size: 14px;
  color: #797979;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

/* line 74, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_mixins.scss */
.tracking_box_area .tracking_box_inner .tracking_form .form-group input::-webkit-input-placeholder {
  font-size: 14px;
  color: #797979;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

/* line 1792, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.tracking_box_area .tracking_box_inner .tracking_form .form-group:last-child {
  margin-bottom: 0px;
}

/* line 1796, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.tracking_box_area .tracking_box_inner .tracking_form .form-group .btn_3 {
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
}

/* End Tracking Form Area css
============================================================================================ */