/*=================== contact form start ====================*/
/* line 39, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_contact.scss */
.contact-title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* line 47, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_contact.scss */
.form-contact label {
  font-size: 14px;
}

/* line 50, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_contact.scss */
.form-contact .form-group {
  margin-bottom: 30px;
}

/* line 52, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_contact.scss */
.form-contact .form-group .button-contactForm {
  color: #fff !important;
}

/* line 55, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_contact.scss */
.form-contact .form-group .btn_1 {
  margin-bottom: -30px;
  border: 1px solid #999999;
  border-radius: 0;
  color: #000;
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  /* line 55, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_contact.scss */
  .form-contact .form-group .btn_1 {
    margin-bottom: 20px;
  }
}

/* line 66, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_contact.scss */
.form-contact .form-group .btn_1 i {
  color: #000;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  margin-left: 20px;
  background-size: 200% auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 77, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_contact.scss */
.form-contact .form-group .btn_1:hover {
  border: 1px solid #ff3368;
  color: #ff3368 !important;
}

/* line 80, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_contact.scss */
.form-contact .form-group .btn_1:hover i {
  color: #ff3368;
  color: #fff !important;
}

/* line 88, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_contact.scss */
.form-contact .form-control {
  border: 1px solid #f0e9ff;
  border-radius: 5px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
}

/* line 96, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_contact.scss */
.form-contact .form-control:focus {
  outline: 0;
  box-shadow: none;
}

/* line 101, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_contact.scss */
.form-contact .form-control::placeholder {
  font-weight: 300;
  color: #999999;
}

/* line 107, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_contact.scss */
.form-contact textarea {
  border-radius: 12px;
  height: 100% !important;
}

@media (max-width: 576px) {
  /* line 119, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_contact.scss */
  .contact-section .btn_1 {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 127, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_contact.scss */
  .contact-section .btn_1 {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 135, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_contact.scss */
  .contact-section .btn_1 {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 143, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_contact.scss */
  .contact-section .btn_1 {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }
}

/*=================== contact form end ====================*/