/* Single Product Area css
============================================================================================ */
/* line 544, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_img .carousel {
  position: relative;
}

/* line 547, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_img .carousel .carousel-indicators {
  margin: 0px;
  right: 20px;
  width: auto;
  left: auto;
  bottom: 30px;
}

/* line 554, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_img .carousel .carousel-indicators li {
  height: 60px;
  width: 60px;
  background: transparent;
  text-indent: 0;
  margin-right: 10px;
  position: relative;
}

/* line 562, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_img .carousel .carousel-indicators li:after {
  display: none;
}

/* line 566, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_img .carousel .carousel-indicators li:before {
  content: "";
  background: rgba(197, 50, 45, 0.8);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 578, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_img .carousel .carousel-indicators li.active:before {
  opacity: 1;
}

@media (max-width: 576px) {
  /* line 587, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .s_product_text {
    margin-top: 30px;
  }
}

/* line 601, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text h5 {
  font-weight: 700;
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  /* line 601, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .s_product_text h5 {
    margin-bottom: 15px;
  }
}

/* line 619, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text h5 span {
  margin: 0 10px;
}

/* line 624, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text h3 {
  font-size: 24px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 10px;
}

/* line 631, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ff3368;
  margin-bottom: 15px;
}

/* line 639, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li {
  margin-bottom: 5px;
}

/* line 642, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li a {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #555555;
}

/* line 648, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li a span {
  width: 90px;
  display: inline-block;
}

/* line 652, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li a span:hover {
  color: #555;
}

/* line 657, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li a.active {
  color: #ff3368;
}

/* line 660, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li a.active span {
  color: #555;
}

/* line 666, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li:last-child {
  margin-bottom: 0px;
}

/* line 672, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text p {
  padding-top: 20px;
  border-top: 1px dotted #d5d5d5;
  margin: 20px 0;
}

/* line 679, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .card_area .main_btn {
  line-height: 38px;
  padding: 0px 38px;
  text-transform: uppercase;
  margin-right: 10px;
}

/* line 686, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .card_area .icon_btn {
  margin-right: 10px;
  background: #f6f6f6;
  border-radius: 3px;
  color: #2a2a2a;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  padding: 0px 13px;
  font-size: 14px;
}

/* line 697, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .card_area .icon_btn:hover {
  background: #fff;
  box-shadow: -14.142px 14.142px 20px 0px rgba(0, 0, 0, 0.1);
}

/* line 706, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_area .product_count {
  display: inline-block;
  position: relative;
  margin-bottom: 24px;
  overflow: hidden;
}

/* line 712, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_area .product_count input {
  width: 76px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding-left: 10px;
}

/* line 719, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_area .product_count .input-number-increment {
  position: absolute;
  right: 0;
  top: -7px;
  padding: 7px;
  border-left: 1px solid #dddddd;
  display: inline-block;
}

/* line 727, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_area .product_count .input-number-increment:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 7px;
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}

/* line 739, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_area .product_count .input-number-decrement {
  position: absolute;
  right: 0;
  bottom: -9px;
  padding: 7px;
  border-left: 1px solid #dddddd;
  display: inline-block;
}

@media (max-width: 576px) {
  /* line 749, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .cart_area .media {
    display: block;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 754, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .cart_area .media {
    display: block;
  }
}

/* line 761, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area {
  padding-bottom: 120px;
  margin-top: 60px;
}

@media (max-width: 991px) {
  /* line 761, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .product_description_area {
    margin-top: 0px;
    padding-bottom: 70px;
  }
}

/* line 771, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .nav.nav-tabs {
  display: block;
  border: none;
  padding: 10px 0px;
}

/* line 776, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .nav.nav-tabs li {
  display: inline-block;
  margin-right: 7px;
}

/* line 780, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .nav.nav-tabs li:last-child {
  margin-right: 0px;
}

/* line 784, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .nav.nav-tabs li a {
  padding: 0px;
  border: none;
  line-height: 38px;
  background: #fff;
  border: 1px solid #eeeeee;
  border-radius: 0px;
  padding: 0px 30px;
  color: #2a2a2a;
  font-size: 13px;
  font-weight: normal;
  border-radius: 50px;
}

@media (max-width: 991px) {
  /* line 784, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .product_description_area .nav.nav-tabs li a {
    padding: 0px 20px;
    margin-bottom: 10px;
  }
}

/* line 803, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .nav.nav-tabs li a.active {
  background: #ff3368;
  color: #fff;
  border-color: #ff3368;
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
}

/* line 813, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content {
  padding-top: 30px;
}

/* line 818, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .box_total {
  background: #ecfdff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #dddddd;
}

/* line 824, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .box_total h4 {
  color: #ff3368;
  font-size: 48px;
  font-weight: bold;
}

/* line 830, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .box_total h5 {
  color: #2a2a2a;
  margin-bottom: 0px;
  font-size: 24px;
}

/* line 836, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .box_total h6 {
  color: #2a2a2a;
  margin-bottom: 0px;
  font-size: 14px;
  color: #797979;
  font-weight: normal;
}

/* line 845, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .rating_list {
  margin-bottom: 30px;
}

/* line 848, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .rating_list h3 {
  font-size: 18px;
  color: #2a2a2a;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

/* line 858, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .rating_list .list li a {
  font-size: 14px;
  color: #797979;
}

/* line 862, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .rating_list .list li a i {
  color: #fbd600;
}

/* line 870, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .rating_list .list li:nth-child a i:last-child {
  color: #eeeeee;
}

/* line 881, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .table {
  margin-bottom: 0px;
}

/* line 886, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .table tbody tr td {
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 14px;
  padding-bottom: 14px;
}

/* line 892, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .table tbody tr td h5 {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #797979;
  margin-bottom: 0px;
  white-space: nowrap;
}

/* line 903, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .table tbody tr:first-child td {
  border-top: 0px;
}

/* line 915, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item {
  margin-bottom: 35px;
}

/* line 918, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item:last-child {
  margin-bottom: 0px;
}

/* line 922, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item p {
  color: #797979;
}

/* line 926, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media {
  position: relative;
}

/* line 929, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .d-flex {
  padding-right: 15px;
}

/* line 933, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .media-body {
  vertical-align: middle;
  align-self: center;
}

/* line 937, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .media-body h4 {
  margin-bottom: 0px;
  font-size: 14px;
  color: #2a2a2a;
  font-family: "Poppins", sans-serif;
  margin-bottom: 8px;
}

/* line 945, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .media-body i {
  color: #fbd600;
}

/* line 949, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .media-body h5 {
  font-size: 13px;
  font-weight: normal;
  color: #797979;
}

/* line 955, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .media-body .reply_btn {
  border: 1px solid #e0e0e0;
  padding: 0px 28px;
  display: inline-block;
  line-height: 32px;
  border-radius: 16px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #2a2a2a;
  position: absolute;
  right: 0px;
  top: 14px;
}

/* line 968, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .media-body .reply_btn:hover {
  background: #ff3368;
  border-color: #ff3368;
  color: #fff;
}

/* line 977, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item p {
  padding-top: 10px;
  margin-bottom: 0px;
}

/* line 982, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item.reply {
  padding-left: 28px;
}

/* line 988, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box h4 {
  font-size: 24px;
  color: #2a2a2a;
  margin-bottom: 20px;
  font-weight: 700;
}

/* line 995, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box p {
  margin-bottom: 0px;
  display: inline-block;
  font-weight: 500;
}

/* line 1001, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box .list {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 1006, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box .list li {
  display: inline-block;
}

/* line 1009, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box .list li a {
  display: inline-block;
  color: #fbd600;
}

/* line 1016, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box .form-control {
  height: 50px;
  border-radius: 0;
}

/* line 1020, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box ::placeholder {
  font-size: 14px;
}

/* line 1023, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box .btn_3 {
  padding: 13px 39px;
}

/* line 1026, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box .contact_form {
  margin-top: 15px;
}

/* End Single Product Area css