/**************** common css start ****************/


/* line 11, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
.message_submit_form:focus {
  outline: none;
}

/* line 15, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
input:hover,
input:focus {
  outline: none !important;
}

/* line 20, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
.gray_bg {
  background-color: #ecfdff;
}

/* line 24, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
.section_padding {
  padding: 140px 0px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 24, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .section_padding {
    padding: 100px 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 24, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .section_padding {
    padding: 70px 0px;
  }
}

@media (max-width: 576px) {
  /* line 24, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .section_padding {
    padding: 70px 0px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 24, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .section_padding {
    padding: 70px 0px;
  }
}

/* line 44, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
.single_padding_top {
  padding-top: 140px !important;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 44, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .single_padding_top {
    padding-top: 70px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 44, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .single_padding_top {
    padding-top: 70px !important;
  }
}

@media (max-width: 576px) {
  /* line 44, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .single_padding_top {
    padding-top: 70px !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 44, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .single_padding_top {
    padding-top: 100px !important;
  }
}

/* line 64, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
.padding_top {
  padding-top: 140px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 64, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .padding_top {
    padding-top: 100px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 64, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .padding_top {
    padding-top: 70px;
  }
}

@media (max-width: 576px) {
  /* line 64, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .padding_top {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 64, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .padding_top {
    padding-top: 70px;
  }
}



/* line 88, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
a:hover {
  outline: none;
  text-decoration: none;
}

/* line 94, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color:#A1CD39;
  font-family: "Poppins", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

h3{
  color:black;
}


/* line 114, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
h2 {
  font-size: 44px;
  line-height: 28px;
  color: #A1CD39;
  font-weight: 600;
  line-height: 1.222;
}

@media (max-width: 576px) {
  /* line 114, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  h2 {
    font-size: 22px;
    line-height: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 114, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  h2 {
    font-size: 24px;
    line-height: 25px;
  }
}


@media (max-width: 576px) {
  /* line 134, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  h3 {
    font-size: 20px;
  }
}

/* line 144, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
h5 {
  font-size: 18px;
  line-height: 22px;
}

/* line 149, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
img {
  max-width: 100%;
}

/* line 153, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
a:focus,
.button:focus,
button:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  -webkit-transition: 1s;
  transition: 1s;
}

/* line 163, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
.section_tittle {
  margin-bottom: 80px;
}

@media (max-width: 991px) {
  /* line 163, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .section_tittle {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 163, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .section_tittle {
    margin-bottom: 40px;
  }
}

/* line 174, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
.section_tittle h2 {
  font-size: 36px;
  color: #1a1a1a;
  line-height: 27px;
  font-weight: 700;
  position: relative;
  margin-bottom: 28px;
}

@media (max-width: 576px) {
  /* line 174, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .section_tittle h2 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 174, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .section_tittle h2 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 174, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .section_tittle h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 174, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .section_tittle h2 {
    font-size: 35px;
    line-height: 40px;
  }
}

/* line 207, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
.section_tittle p {
  color: #556172;
  text-transform: capitalize;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 576px) {
  /* line 207, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .section_tittle p {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 207, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .section_tittle p {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 207, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .section_tittle p {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 207, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .section_tittle p {
    margin-bottom: 10px;
  }
}



/* line 237, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
.mb_110 {
  margin-bottom: 110px;
}

@media (max-width: 576px) {
  /* line 237, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .mb_110 {
    margin-bottom: 220px;
  }
}

/* line 246, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
.mt_130 {
  margin-top: 130px;
}

@media (max-width: 576px) {
  /* line 246, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .mt_130 {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 246, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .mt_130 {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 246, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .mt_130 {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 246, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .mt_130 {
    margin-top: 70px;
  }
}

/* line 266, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
.mb_130 {
  margin-bottom: 140px;
}

@media (max-width: 991px) {
  /* line 266, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .mb_130 {
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 266, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .mb_130 {
    margin-bottom: 100px;
  }
}

/* line 278, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
.padding_less_40 {
  margin-bottom: -50px;
}

/* line 282, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
.z_index {
  z-index: 9 !important;
  position: relative;
}

@media only screen and (min-width: 1200px) and (max-width: 3640px) {
  /* line 288, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 1200px) {
  /* line 294, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  [class*="hero-ani-"] {
    display: none !important;
  }
}

/* line 299, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #dddddd;
  outline: 0;
  box-shadow: none;
}

/* line 308, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
.pageination .page-link {
  border: 0px solid transparent;
  font-weight: 500;
  font-size: 18px;
  color: #979797;
  padding: 10px 8px;
}

/* line 314, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
.pageination .page-link:hover {
  background-color: transparent;
  color: #000;
}

/* line 320, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
.pageination i {
  font-size: 12px;
}

/**************** common css end ****************/