/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.site-logo {
		margin-bottom: 20px;
	}
	.header-search-form {
		margin-bottom: 15px;
	}
	.user-panel {
		text-align: center;
	}
	.main-menu {
		display: none;
	}
	.slicknav_btn {
		background-color: #565656;
	}
	.slicknav_menu {
		background: #282828;
		display: block;
	}
	.slicknav_menu .new {
		font-size: 10px;
		font-weight: 700;
		color: #fff;
		background: #f51167;
		line-height: 1;
		text-transform: uppercase;
		padding: 5px 9px 1px;
		border-radius: 15px;
		width: 42px;
		margin-left: 5px;
	}
	.hero-slider .slider-nav-warp {
		max-width: 510px;
	}
	.hero-slider .hs-item h2 {
		font-size: 50px;
	}
	.hero-slider .hs-item .offer-card {
		display: none;
	}
	.product-filter-menu {
		text-align: center;
	}
	.product-filter-menu li {
		margin: 0 2px 10px;
	}
	.footer-widget ul {
		margin-right: 25px;
	}
	.social-links {
		text-align: center;
	}
	.social-links a {
		margin-right: 15px;
	}
	.social-links a span {
		display: none;
	}
	.cart-table,
	.checkout-cart,
	.product-thumbs {
		margin-bottom: 50px;
	}
	.cart-table .size-col h4,
	.cart-table table tr th.size-th,
	.cart-table table tr th.quy-th,
	.cart-table .quy-col {
		padding-right: 0;
		width: 70px;
	}
	.cart-table .quy-col {
		width: 80px;
	}
	.address-rb {
		text-align: left;
	}
	.map {
		position: relative;
		width: 100%;
		background: #ddd;
		height: 400px;
		margin-top: 70px;
	}
}