/* Main Button Area css
============================================================================================ */
/* line 3, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.submit_btn {
  width: auto;
  display: inline-block;
  background: #fff;
  padding: 0px 50px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 50px;
  border-radius: 5px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #edeff2;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 19, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.submit_btn:hover {
  background: transparent;
}

/* line 24, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.btn_1 {
  display: inline-block;
  padding: 9px 42px;
  border-radius: 50px;
  background-color: #ecfdff;
  font-size: 15px;
  font-weight: 700;
  color: #333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 33, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.btn_1:hover {
  background-color: #ff3368;
  color: #fff;
}

/* line 38, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.btn_3 {
	box-shadow: 0px 20px 23px -6px #3dc21b;
	background:linear-gradient(to bottom, #1fd14f 5%, #5cbf2a 100%);
	background-color:#1fd14f;
	border-radius:42px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:14px 19px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

/* line 52, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.btn_3:hover {
  background-color: #A1CD39;
  color: #fff;
}

/* line 57, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.btn_2 {
  display: inline-block;
  width: 180px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 5px;
  background-color: #ff3368;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  background-size: 200% auto;
  text-transform: uppercase;
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
}

/* line 77, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.btn_2:hover {
  color: #fff !important;
  background-position: right center;
}

@media (max-width: 991px) {
  /* line 57, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
  .btn_2 {
    height: 50px;
    width: 140px;
    line-height: 50px;
  }
}

/* line 92, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.btn_4 {
  color: #ff3368;
  font-size: 15px;
  font-weight: 700;
  margin-top: 53px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 991px) {
  /* line 92, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
  .btn_4 {
    margin-top: 30px;
  }
}

/* line 105, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.btn_4 img {
  width: 20px;
  margin-left: 15px;
}

/*=================== custom button rule start ====================*/
/* line 113, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.button {
  display: inline-block;
  padding: 9px 190px;
  border-radius: 50px;
  background-color: #A1CD39;
  border: 1px solid #ecfdff;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
  border: 1px solid #A1CD39;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 767px) {
  /* line 113, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
  .button {
    font-size: 13px;
    padding: 9px 24px;
  }
}

/* line 132, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.button:hover {
  color: #fff;
}

/* line 137, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.button-link {
  letter-spacing: 0;
  color: #3b1d82;
  border: 0;
  padding: 0;
}

/* line 143, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.button-link:hover {
  background: transparent;
  color: #3b1d82;
}

/* line 149, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.button-header {
  color: #fff;
  border-color: #edeff2;
}

/* line 153, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.button-header:hover {
  background: #b8024c;
  color: #fff;
}

/* line 159, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
.button-contactForm {
  color: #fff;
  border-color: #edeff2;
  padding: 12px 25px;
}


.login_part .form-group .btn_3 {
    display: block;
    width: 100%;
    margin: 30px 0 17px;
}
.login_part .login_part_text .login_part_text_iner, .login_part .login_part_text .login_part_form_iner, .login_part .login_part_form .login_part_text_iner, .login_part .login_part_form .login_part_form_iner {
  display: table-cell;
  vertical-align: middle;
}
.login_part .login_part_form {
  padding: 0;
}
.login_part .login_part_form h3 {
  margin-bottom: 20px;
}

.login_part .login_part_form h3 {
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 80px;
}
.p_star {
  display: inline-block;
  position: relative;
}
.login_part .login_part_form .form-control {
  border: 0px solid transparent;
  border-bottom: 1px solid #dddddd;
  border-radius: 0;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
::after, ::before {
  box-sizing: border-box;
}
.form-group {
  margin-bottom: 1rem;
}

.login_part .creat_account {
  margin-top: 11px;
}
.login_part .creat_account {
  margin-top: 11px;
}

.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
::after, ::before {
  box-sizing: border-box;
}

.row {
  flex-wrap: wrap;
}

.btn_3 {
  display: inline-block;
  border-radius: 50px;
  background-color:#A1CD39;
  border: 1px solid #ecfdff;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
  border: 1px solid #A1CD39;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
